<div id="sidebar-collapse">
    <!-- <div class="admin-block d-flex"> -->
        <!-- <div>
            <img src="./assets/img/admin-avatar.png" width="45px" />
        </div> -->
        <!-- <div class="admin-info">
            <div class="font-strong">James Brown</div><small>Administrator</small>
        </div> -->
    <!-- </div> -->

    <ul class="side-menu metismenu">
        <!-- <li>
            <a routerLinkActive="active" routerLink="/index"><i class="sidebar-item-icon fa fa-th-large"></i>
                <span class="nav-label">Dashboard</span>
            </a>
        </li> -->

        <!-- <li class="heading">FEATURES</li> -->

        <li routerLinkActive="active">
            <a href="javascript:;">
                <i class="sidebar-item-icon fa fa-bookmark"></i>
                <span class="nav-label">Enrollment</span>
                <i class="fa fa-angle-left arrow"></i>
            </a>
            <ul class="nav-2-level" routerLinkActive="in">
                <li>
                    <a routerLink="" routerLinkActive="active">
                        <span><i class="ti-angle-right"></i></span>
                        Student Admission
                    </a>
                </li>
                <li>
                    <a routerLink="" routerLinkActive="active">
                        <span><i class="ti-angle-right"></i></span>
                        Bulk Upload</a>
                </li>
                <li>
                    <a routerLink="" routerLinkActive="active"><span><i class="ti-angle-right"></i></span>User Registration</a>
                </li>
                <li>
                    <a routerLink="" routerLinkActive="active"><span><i class="ti-angle-right"></i></span>Admission Enquery</a>
                </li>
            </ul>
        </li>
        <li routerLinkActive="active">
            <a href="javascript:;"><i class="sidebar-item-icon fa fa-edit"></i>
                <span class="nav-label">Fee Management</span><i class="fa fa-angle-left arrow"></i></a>
        </li>
        <li routerLinkActive="active">
            <a href="javascript:;"><i class="sidebar-item-icon fa fa-table"></i>
                <span class="nav-label">Student Management</span><i class="fa fa-angle-left arrow"></i></a>
                <ul class="nav-2-level" routerLinkActive="in">
                    <li>
                        <a routerLink="" routerLinkActive="active"><span><i class="ti-angle-right"></i></span>Update Student</a>
                    </li>
                    <li>
                        <a routerLink="" routerLinkActive="active"><span><i class="ti-angle-right"></i></span>View Student</a>
                    </li>
                    <li>
                        <a routerLink="" routerLinkActive="active"><span><i class="ti-angle-right"></i></span>Roll No Assign</a>
                    </li>
                    <li>
                        <a routerLink="" routerLinkActive="active"><span><i class="ti-angle-right"></i></span>Attandance Report</a>
                    </li>
                    <li>
                        <a routerLink="" routerLinkActive="active"><span><i class="ti-angle-right"></i></span>View Time Table</a>
                    </li>
                </ul>
        </li>
        <li routerLinkActive="active">
            <a href="javascript:;"><i class="sidebar-item-icon fa fa-bar-chart"></i>
                <span class="nav-label">Teacher Activities</span><i class="fa fa-angle-left arrow"></i>
            </a>
        </li>
        <li routerLinkActive="active">
            <a href="javascript:;"><i class="sidebar-item-icon fa fa-map"></i>
                <span class="nav-label">Examination Management</span><i class="fa fa-angle-left arrow"></i></a>
        </li>
        <li>
            <a routerLink="/ui/icons" routerLinkActive="active"><i class="sidebar-item-icon fa fa-smile-o"></i>
                <span class="nav-label">User Managements</span>
            </a>
        </li>
        <!-- <li class="heading">PAGES</li> -->
        <li routerLinkActive="active">
            <a href="javascript:;"><i class="sidebar-item-icon fa fa-envelope"></i>
                <span class="nav-label">Notifications & Events</span><i class="fa fa-angle-left arrow"></i>
            </a>
        </li>
        <li>
            <a routerLink="/calendar" routerLinkActive="active"><i class="sidebar-item-icon fa fa-calendar"></i>
                <span class="nav-label">Transport Management</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a href="javascript:;"><i class="sidebar-item-icon fa fa-file-text"></i>
                <span class="nav-label">Finance Management</span><i class="fa fa-angle-left arrow"></i>
            </a>
        </li>
        <li>
            <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
                <span class="nav-label">Leave Management</span><i class="fa fa-angle-left arrow"></i>
            </a>
        </li>
        <li>
            <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
                <span class="nav-label">Certificates Management</span><i class="fa fa-angle-left arrow"></i>
            </a>
        </li>
    </ul>

</div>
