<div id="sidebar-collapse">

  <ul class="nav nav-tabs nav-justified" id="nav-tab" role="tablist">

    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" aria-controls="menu1" href="#menu1" id="menu1-tab">
        <i class="fa fa-bookmark"></i> Tab One
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" aria-controls="menu2" href="#menu2" id="menu2-tab">
        <i class="fa fa-bookmark"></i> Tab Two
      </a>
    </li>

  </ul>

  <div class="tab-content" id="nav-tabContent">
    <div id="menu1" class="tab-pane show active" role="tabpanel" aria-labelledby="menu1-tab"><br>
      <ul class="side-menu metismenu" id="allMenuItems">
        <li routerLinkActive="active" id="enrollment" data-hasSub='true' #enrollment>
          <a href="javascript:;">
            <i class="sidebar-item-icon ti-save"></i>
            <span class="nav-label">Enrollment</span>
            <i class="fa fa-angle-right arrow"></i>
          </a>
          <ul class="nav-2-level collapse" routerLinkActive="in">

            <li id="student-admission" data-hasSub='sub' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <a [routerLink]="['/students/add']">
                <span class="submenu-arrow">
                  <i class="ti-angle-right"></i>
                </span>
                Student Admission
              </a>
            </li>

            <li id="bulk-upload" data-hasSub='sub' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <a class="" [routerLink]="['#']">
                <span class="submenu-arrow">
                  <i class="ti-angle-right"></i>
                </span>
                Bulk Upload
              </a>
            </li>

            <li id="registration" data-hasSub='sub' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <a [routerLink]="['#']"><span class="submenu-arrow">
                  <i class="ti-angle-right"></i></span>User
                Registration</a>
            </li>

            <li id="enquery" data-hasSub='sub' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <a [routerLink]="['#']"><span class="submenu-arrow"><i class="ti-angle-right"></i></span>Admission
                Enquery</a>
            </li>

          </ul>
        </li>

        <li routerLinkActive="active" id="fee-management" data-hasSub='true'>
          <a href="javascript:;"><i class="sidebar-item-icon fa fa-edit"></i>
            <span class="nav-label">Fee Management</span><i class="fa fa-angle-right arrow"></i>
          </a>
          <!-- <ul class="nav-2-level collapse" routerLinkActive="in">
            <li id="student-admission">
              <a [routerLink]="['/students/add']" routerLinkActive="active">
                <span class="submenu-arrow"><i class="ti-angle-right"></i></span>
                Student Admission
              </a>
            </li>
          </ul> -->
        </li>

        <li routerLinkActive="active" id="student-management" data-hasSub='true'>
          <a href="javascript:;"><i class="sidebar-item-icon fa fa-table"></i>
            <span class="nav-label">Student Management</span><i class="fa fa-angle-right arrow"></i></a>
          <ul class="nav-2-level" routerLinkActive="in">

            <li id="update-student" data-hasSub='sub' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <a [routerLink]="['#']"><span class="submenu-arrow"><i class="ti-angle-right"></i></span>Update
                Student</a>
            </li>

            <li id="view-student" data-hasSub='sub' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <a [routerLink]="['/students/list']"><span class="submenu-arrow"><i class="ti-angle-right"></i></span>
                View
                Student</a>
            </li>

            <li id="roll-no-assign" data-hasSub='sub' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <a [routerLink]="['#']"><span class="submenu-arrow"><i class="ti-angle-right"></i></span>
                Roll
                No Assign</a>
            </li>

            <li id="attandance-report" data-hasSub='sub' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <a [routerLink]="['#']"><span class="submenu-arrow"><i class="ti-angle-right"></i></span>
                Attandance
                Report</a>
            </li>

            <li id="view-time-table" data-hasSub='sub' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <a [routerLink]="['#']"><span class="submenu-arrow"><i class="ti-angle-right"></i></span>
                View
                Time Table
              </a>
            </li>

          </ul>
        </li>
        <li routerLinkActive="active" id="teacher-activities" data-hasSub='false'>
          <a href="javascript:;"><i class="sidebar-item-icon fa fa-bar-chart"></i>
            <span class="nav-label">Teacher Activities</span><i class="fa fa-angle-right arrow"></i>
          </a>
        </li>

        <li routerLinkActive="active" id="examination-management" data-hasSub='false'>
          <a href="javascript:;"><i class="sidebar-item-icon fa fa-map"></i>
            <span class="nav-label">Examination Management</span><i class="fa fa-angle-right arrow"></i></a>
        </li>

        <li id="user-managements" data-hasSub='false'>
          <a routerLink="/ui/icons" routerLinkActive="active"><i class="sidebar-item-icon fa fa-smile-o"></i>
            <span class="nav-label">User Managements</span>
          </a>
        </li>

        <li routerLinkActive="active" id="notifications-&-events" data-hasSub='false'>
          <a href="javascript:;"><i class="sidebar-item-icon fa fa-envelope"></i>
            <span class="nav-label">Notifications & Events</span><i class="fa fa-angle-right arrow"></i>
          </a>
        </li>

        <li id="transport-management" data-hasSub='false'>
          <a routerLink="/calendar" routerLinkActive="active"><i class="sidebar-item-icon fa fa-calendar"></i>
            <span class="nav-label">Transport Management</span>
          </a>
        </li>

        <li routerLinkActive="active" id="finance-management" data-hasSub='false'>
          <a href="javascript:;"><i class="sidebar-item-icon fa fa-file-text"></i>
            <span class="nav-label">Finance Management</span><i class="fa fa-angle-right arrow"></i>
          </a>
        </li>

        <li id="leave-management" data-hasSub='false'>
          <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
            <span class="nav-label">Leave Management</span><i class="fa fa-angle-right arrow"></i>
          </a>
        </li>

        <li id="certificates-management" data-hasSub='false'>
          <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
            <span class="nav-label">Certificates Management</span><i class="fa fa-angle-right arrow"></i>
          </a>
        </li>
      </ul>
    </div>

    

    <div id="menu2" class="tab-pane" role="tabpanel" aria-labelledby="menu2-tab"><br>
      <ul class="side-menu metismenu">
        <!-- <li>
                    <a routerLinkActive="active" routerLink="/index"><i class="sidebar-item-icon fa fa-th-large"></i>
                        <span class="nav-label">Dashboard</span>
                    </a>
                </li> -->

        <!-- <li class="heading">FEATURES</li> -->

        <!-- <li routerLinkActive="active">
          <a href="javascript:;"><i class="sidebar-item-icon fa fa-edit"></i>
            <span class="nav-label">Fee Management</span><i class="fa fa-angle-right arrow"></i>
          </a>
        </li>
        <li routerLinkActive="active">
          <a href="javascript:;"><i class="sidebar-item-icon fa fa-bar-chart"></i>
            <span class="nav-label">Teacher Activities</span><i class="fa fa-angle-right arrow"></i>
          </a>
        </li>
        <li routerLinkActive="active">
          <a href="javascript:;"><i class="sidebar-item-icon fa fa-map"></i>
            <span class="nav-label">Examination Management</span><i class="fa fa-angle-right arrow"></i></a>
        </li>
        <li>
          <a routerLink="/ui/icons" routerLinkActive="active"><i class="sidebar-item-icon fa fa-smile-o"></i>
            <span class="nav-label">User Managements</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a href="javascript:;"><i class="sidebar-item-icon fa fa-envelope"></i>
            <span class="nav-label">Notifications & Events</span><i class="fa fa-angle-right arrow"></i>
          </a>
        </li>
        <li>
          <a routerLink="/calendar" routerLinkActive="active"><i class="sidebar-item-icon fa fa-calendar"></i>
            <span class="nav-label">Transport Management</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a href="javascript:;"><i class="sidebar-item-icon fa fa-file-text"></i>
            <span class="nav-label">Finance Management</span><i class="fa fa-angle-right arrow"></i>
          </a>
        </li>
        <li>
          <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
            <span class="nav-label">Leave Management</span><i class="fa fa-angle-right arrow"></i>
          </a>
        </li>
        <li>
          <a href="javascript:;"><i class="sidebar-item-icon fa fa-sitemap"></i>
            <span class="nav-label">Certificates Management</span><i class="fa fa-angle-right arrow"></i>
          </a>
        </li> -->
      </ul>
    </div>
  </div>



</div>
