<div class="page-content fade-in-up">
  <div class="row">
    <div class="col-md-12">


      
        <div class="ibox">
            <div class="ibox-head">
              <div class="ibox-title">User / User Access Control</div>
              <div class="ibox-tools">
                <a class="ibox-collapse">
                  <i class="fa fa-refresh mr-1 text-success refresh-icon" aria-hidden="true"></i>
                  <!-- <i class="fa fa-times text-danger close-icon" aria-hidden="true"></i> -->
                  <i class="fa fa-angle-down arrow" aria-hidden="true"></i>
                </a>
              </div>
            </div>

            <div class="ibox-body">
                <form id="add-student-form">
                  <div class="row student-info pl-3">
                    <div class="col-md-4 mb-4">
                        <mat-form-field class="example-full-width">
                            <mat-select placeholder="Select User" name="religion" >
                              <mat-option value="hindu">User1</mat-option>
                              <mat-option value="muslim">User2</mat-option>
                              <mat-option value="christian">User3</mat-option>
                              <mat-option value="sikh">User4</mat-option>
                              <mat-option value="buddhist">User5</mat-option>
                              
                            </mat-select>
                          </mat-form-field>
                    </div>

                    <div class="col-md-4 mb-4"></div>

                    <div class="col-md-4 mb-4"></div>
                  </div>



                  <div class="row student-info pl-3">

                  
                      <div class="col-md-4 mb-4 new-users">

                          <div class="panel-bar"><mat-checkbox></mat-checkbox> <a hrlf="#" data-toggle="collapse" data-target="#demo">Academic Manage <i class="fa fa-angle-down arrow" aria-hidden="true"></i></a></div>
                          <div id="demo" class="collapse panel-text">
                              <p class=""><mat-checkbox>Create Exam</mat-checkbox></p>
                              <p><mat-checkbox>Add Marks</mat-checkbox></p>
                              <p><mat-checkbox>Hall Ticket</mat-checkbox></p>
                          </div>
                          <p></p>
                          <p></p>
                          <div class="panel-bar"><mat-checkbox></mat-checkbox> <a hrlf="#" data-toggle="collapse" data-target="#demo2">Employee Config <i class="fa fa-angle-down arrow" aria-hidden="true"></i></a></div>
                          <div id="demo2" class="collapse panel-text">
                              <p class=""><mat-checkbox>Manage Time Table</mat-checkbox></p>
                              <p><mat-checkbox>Employee Leave Type</mat-checkbox></p>
                              
                          </div>
                          <p></p>
                          <p></p>

                          <div class="panel-bar"><mat-checkbox></mat-checkbox> <a hrlf="#" data-toggle="collapse" data-target="#demo3">Finance Manage <i class="fa fa-angle-down arrow" aria-hidden="true"></i></a></div>
                          <div id="demo3" class="collapse panel-text">
                              <p class=""><mat-checkbox>Add Fee Type</mat-checkbox></p>
                              <p><mat-checkbox>Add Marks</mat-checkbox></p>
                              <p><mat-checkbox>Employee Fee Type</mat-checkbox></p>
                          </div>

                        
                      </div>
                  </div>
               </form>

               <div class="col-md-12 mt-4">
                  <div class="form-group">
                    <button class="btn btn-success btn-lg" type="submit">Submit</button>
                  </div>
                </div>
            </div>
          </div>

    </div>
  </div>
  </div>
