<ng2-toasty [position]="position"></ng2-toasty>


<div class="page-content fade-in-up">
  <div class="row">
    <div class="col-md-12">
      <div class="text-uppercase text-right">
        <a [routerLink]="['/students/list']" class="btn btn-success text-right cursor">
          <i class="fa fa-list-alt" aria-hidden="true"></i>
          Back to List
        </a>
      </div>
      <ul class="nav nav-tabs nav-justified" id="nav-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" aria-controls="studentDetails" href="#studentDetails" id="studentDetails-tab"
            aria-selected="true">
            Student Details
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" aria-controls="studentProfileDetails" href="#studentProfileDetails" id="studentProfileDetails-tab"
            aria-selected="false">
            Student Profile Details
          </a>
        </li>
      </ul>

      <div class="tab-content" id="nav-tabContent">
        <div class="ibox tab-pane show active" id="studentDetails" role="tabpanel" aria-labelledby="studentDetails-tab">
          <div class="ibox-head">
            <div class="ibox-title">Edit Student Form</div>
            <!-- <div class="ibox-tools">
                    <a class="ibox-collapse">
                    <i class="fa fa-refresh mr-1 text-success refresh-icon" aria-hidden="true"></i>
                    <i class="fa fa-times text-danger close-icon" aria-hidden="true"></i>
                    </a>
                </div> -->
          </div>

          <div class="ibox-body">
            <form id="edit-student-form" [formGroup]="editStudentForm" (ngSubmit)="onEditStudentSubmit()">
              <div class="row student-info">

                <div class="col-md-12 mb-3">
                  <h6 class="h6 font-weight-bold sub-heading">Student Information</h6>
                </div>

                <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="First Name *" type="text" name="firstName" formControlName="firstName">
                    <mat-error *ngIf="firstName.hasError('required')">
                      Field is required.
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Middle Name" type="text" name="middleName" formControlName="middleName">
                  </mat-form-field>
                </div>

                <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Last Name *" type="text" name="lastName" formControlName="lastName">
                    <mat-error *ngIf="lastName.hasError('required')">
                      Field is required.
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Aadhar Number *" type="number" name="aadharNo" formControlName="aadharNo">
                    <mat-error *ngIf="aadharNo.hasError('required')">
                      Field is required.
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Contact Number" type="number" name="mobileNo" formControlName="mobileNo">
                  </mat-form-field>
                </div>

                <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <input matInput [matDatepicker]="studentDOB1" placeholder="Date of Birth *" name="studentDOB" formControlName="studentDOB">
                    <mat-error *ngIf="studentDOB.hasError('required')">
                      Field is required.
                    </mat-error>
                    <mat-datepicker-toggle matSuffix [for]="studentDOB1"></mat-datepicker-toggle>
                    <mat-datepicker #studentDOB1></mat-datepicker>
                  </mat-form-field>
                </div>

                <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="Blood Group" name="bloodGroup" formControlName="bloodGroup">
                      <mat-option value="b+">B+</mat-option>
                      <mat-option value="o+">O+</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="Gender *" name="gender" formControlName="gender">
                      <mat-option value="male">Male</mat-option>
                      <mat-option value="female">Female</mat-option>
                    </mat-select>
                    <mat-error *ngIf="gender.hasError('required')">
                      Field is required.
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="Contact Preference *" name="preference" formControlName="preference">
                      <mat-option value="father">Father</mat-option>
                      <mat-option value="mother">Mother</mat-option>
                      <mat-option value="guardian">Guardian</mat-option>
                    </mat-select>
                    <mat-error *ngIf="preference.hasError('required')">
                      Field is required.
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="Religion" name="religion" formControlName="religion">
                      <mat-option value="hindu">Hindu</mat-option>
                      <mat-option value="muslim">Muslim</mat-option>
                      <mat-option value="christian">Christian</mat-option>
                      <mat-option value="sikh">Sikh</mat-option>
                      <mat-option value="buddhist">Buddhist</mat-option>
                      <mat-option value="jain">Jain</mat-option>
                      <mat-option value="other religion">Other Religion</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="Caste" name="caste" formControlName="caste">
                      <mat-option value="general">General</mat-option>
                      <mat-option value="sc">SC</mat-option>
                      <mat-option value="st">ST</mat-option>
                      <mat-option value="obc">OBC</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="Indian" name="nationality" formControlName="nationality">
                      <mat-option value="indian">Indian</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <!-- <div class="col-sm-12">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" name="studentProfPicEncoded" formControlName="studentProfPicEncoded"
                      (change)="onSelectFile($event)" accept="image/*">
                    <label class="custom-file-label" for="customFile">Choose Picture</label>
                  </div>
                </div> -->

                <div class="col-sm-12">
                  <div class="custom-file">
                    <!-- <input type="file" class="custom-file-input" name="studentProfPicEncoded" formControlName="studentProfPicEncoded"
                      (change)="onSelectFile($event)" accept="image/*">
                    <label class="custom-file-label" for="customFile">Choose Picture</label> -->

                    <div class="container p-0">
                      <div class="row no-gutters">
                        <div class="col-sm-12">
                          <!-- image-preview-filename input [CUT FROM HERE]-->
                          <div class="input-group image-preview">
                            <input type="text" class="form-control image-preview-filename" disabled="disabled" style="width: 215px;">
                            <!-- don't give a name === doesn't send on POST/GET -->
                            <span class="input-group-btn">
                              <!-- image-preview-clear button -->
                              <!-- <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                                <span class="glyphicon glyphicon-remove"></span> Clear
                              </button> -->
                              <!-- image-preview-input -->
                              <div class="btn btn-default image-preview-input">
                                <span class="glyphicon glyphicon-folder-open"></span>
                                <span class="image-preview-input-title">Browse</span>
                                <input type="file" class="custom-file-input" name="studentProfPicEncoded"
                                  formControlName="studentProfPicEncoded" (change)="onSelectFile($event)" accept="image/*" />
                                <!-- rename it -->
                              </div>
                            </span>
                          </div><!-- /input-group image-preview [TO HERE]-->
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="col-sm-3">
                  <div>
                    <img [src]="url" class="img-thumbnail w-75" alt="profile-picture" />
                  </div>
                </div>
              </div>

              <br />

              <div class="row">
                <div class="col-md-12 mb-3 mt-2">
                  <h5 class="h6 font-weight-bold sub-heading">Parent Information</h5>
                </div>

                <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Father's First Name" type="text" name="fatherFName" formControlName="fatherFName">
                  </mat-form-field>
                </div>

                <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Father's Middle Name" type="text" name="fatherMName" formControlName="fatherMName">
                  </mat-form-field>
                </div>

                <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Father's Last Name" type="text" name="fatherLName" formControlName="fatherLName">
                  </mat-form-field>
                </div>

                <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Mother's First Name" type="text" name="motherFName" formControlName="motherFName">
                  </mat-form-field>
                </div>

                <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Mother's Middle Name" type="text" name="motherMName" formControlName="motherMName">
                  </mat-form-field>
                </div>

                <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Mother's Last Name" type="text" name="motherLName" formControlName="motherLName">
                  </mat-form-field>
                </div>

                <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Guardian's First Name" type="text" name="guardianFName"
                      formControlName="guardianFName">
                  </mat-form-field>
                </div>

                <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Guardian's Middle Name" type="text" name="guardianMName"
                      formControlName="guardianMName">
                  </mat-form-field>
                </div>

                <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Guardian's Last Name" type="text" name="guardianLName" formControlName="guardianLName">
                  </mat-form-field>
                </div>

                <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Father's Mobile Number" type="number" name="fatherMobileNo"
                      formControlName="fatherMobileNo">
                  </mat-form-field>
                </div>

                <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Mother's Mobile Number" type="number" name="motherMobileNo"
                      formControlName="motherMobileNo">
                  </mat-form-field>
                </div>

                <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Guardian's Mobile Number" type="number" name="guardianMobileNo"
                      formControlName="guardianMobileNo">
                  </mat-form-field>
                </div>

                <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Father's Email Id" type="text" name="fatherEmailID" formControlName="fatherEmailID">
                  </mat-form-field>
                </div>

                <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Mother's Email Id" type="text" name="motherEmailID" formControlName="motherEmailID">
                  </mat-form-field>
                </div>

                <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Guardian's Email Id" type="text" name="guardianEmailID"
                      formControlName="guardianEmailID">
                  </mat-form-field>
                </div>

              </div>

              <br />

              <div class="row">
                <div class="col-md-12 mb-3 mt-2">
                  <h5 class="h6 font-weight-bold sub-heading">Admission Information</h5>
                </div>

                <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="Medium of Instruction" name="mediumOfInstruction" formControlName="mediumOfInstruction">
                      <mat-option value="english">English</mat-option>
                      <mat-option value="hindi">Hindi</mat-option>
                      <mat-option value="bengali">Bengali</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Admission Number *" type="text" name="admissionNo" formControlName="admissionNo">
                    <mat-error *ngIf="admissionNo.hasError('required')">
                      Field is required.
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <input matInput [matDatepicker]="admissionDate" placeholder="Admission Date" name="admissionDate"
                      formControlName="admissionDate">
                    <mat-datepicker-toggle matSuffix [for]="admissionDate"></mat-datepicker-toggle>
                    <mat-datepicker #admissionDate></mat-datepicker>
                  </mat-form-field>
                </div>

                <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="Stream/Group *" name="streamID" formControlName="streamID">
                      <mat-option *ngFor="let stream of streamData" value="{{stream.id}}">{{stream.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="streamID.hasError('required')">
                      Field is required.
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <mat-select (change)="getSection($event)" placeholder="Class *" name="classID" formControlName="classID">
                      <mat-option *ngFor="let class of classData" value="{{class.classID}}">{{class.className}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="classID.hasError('required')">
                      Field is required.
                    </mat-error>
                  </mat-form-field>
                </div>


                <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="Section *" name="sectionID" formControlName="sectionID">
                      <mat-option *ngFor="let section of sectionData" value="{{section.sectionID}}">{{section.sectionName}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="sectionID.hasError('required')">
                      Field is required.
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="Fee Quota" name="feeQuota" formControlName="feeQuota">
                      <mat-option value="option 1">Option 1</mat-option>
                      <mat-option value="option 2">Option 2</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="Bus Route *" name="routeID" formControlName="routeID">
                      <mat-option *ngFor="let route of routeData" value="{{route.routeID}}">{{route.routeName}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="routeID.hasError('required')">
                      Field is required.
                    </mat-error>
                  </mat-form-field>
                </div>

              </div>


              <div class="row">
                <div class="col-md-12 mt-4">* fields are required.</div>
                <div class="col-md-12 mt-4">
                  <div class="form-group">
                    <button class="btn btn-success btn-lg" type="submit">Update</button>
                    <!-- <button class="btn btn-primary">Reset</button> -->
                  </div>
                </div>
              </div>

            </form>

          </div>
        </div>

        <div class="ibox tab-pane" id="studentProfileDetails" role="tabpanel" aria-labelledby="studentProfileDetails-tab">
          <div class="ibox-head">
            <div class="ibox-title">Edit Student Details Form</div>
            <!-- <div class="ibox-tools">
                        <a class="ibox-collapse">
                          <i class="fa fa-refresh mr-1 text-success refresh-icon" aria-hidden="true"></i>
                          <i class="fa fa-times text-danger close-icon" aria-hidden="true"></i>
                        </a>
                      </div> -->
          </div>

          <div class="ibox-body">
            <form id="edit-student-profile-details-form" [formGroup]="editStudentDetailsForm" (ngSubmit)="onEditStudentDetailsSubmit()">
              <div class="row student-info">
                <div class="col-md-12 mb-3">
                  <h6 class="h6 font-weight-bold sub-heading">Previous Institution Information</h6>
                </div>

                <!-- <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="Region" name="region" formControlName="region" value="{{stdProfileDetailsData?.region}}">
                      <mat-option value="URBAN">Urban</mat-option>
                      <mat-option value="RURAL">Rural</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div> -->

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Name" name="previousInsName" formControlName="previousInsName"
                      value="{{stdProfileDetailsData?.previousInsName}}">
                  </mat-form-field>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Type" name="previousInsType" formControlName="previousInsType"
                      value="{{stdProfileDetailsData?.previousInsType}}">
                  </mat-form-field>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Affiliation" name="previousInsAffiliation" formControlName="previousInsAffiliation"
                      value="{{stdProfileDetailsData?.previousInsAffiliation}}">
                  </mat-form-field>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Address" name="previousInsAddress" formControlName="previousInsAddress"
                      value="{{stdProfileDetailsData?.previousInsAddress}}">
                  </mat-form-field>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="City" name="previousInsCity" formControlName="previousInsCity"
                      value="{{stdProfileDetailsData?.previousInsCity}}">
                  </mat-form-field>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Taluk" name="previousInsTaluk" formControlName="previousInsTaluk"
                      value="{{stdProfileDetailsData?.previousInsTaluk}}">
                  </mat-form-field>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="District" name="previousInsDistrict" formControlName="previousInsDistrict"
                      value="{{stdProfileDetailsData?.previousInsDistrict}}">
                  </mat-form-field>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="State" name="previousInsState" formControlName="previousInsState"
                      value="{{stdProfileDetailsData?.previousInsState}}">
                  </mat-form-field>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="number" placeholder="Pin" name="previousInsPin" formControlName="previousInsPin"
                      value="{{stdProfileDetailsData?.previousInsPin}}">
                  </mat-form-field>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="TC No." name="previousTCNo" formControlName="previousTCNo"
                      value="{{stdProfileDetailsData?.previousTCNo}}">
                  </mat-form-field>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <input matInput [matDatepicker]="previousTCDate" placeholder="TC Date" name="previousTCDate"
                      formControlName="previousTCDate" value="{{stdProfileDetailsData?.previousTCDate}}">
                    <mat-datepicker-toggle matSuffix [for]="previousTCDate"></mat-datepicker-toggle>
                    <mat-datepicker #previousTCDate></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>

              <br />

              <div class="row">
                <div class="col-md-12 mb-3 mt-2">
                  <h5 class="h6 font-weight-bold sub-heading">Emergency Contact Information</h5>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Name" name="emergencyContactName" formControlName="emergencyContactName"
                      value="{{stdProfileDetailsData?.emergencyContactName}}">
                  </mat-form-field>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Mobile" name="emergencyContactMobile" formControlName="emergencyContactMobile"
                      value="{{stdProfileDetailsData?.emergencyContactMobile}}">
                  </mat-form-field>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Address" name="emergencyContactAddress" formControlName="emergencyContactAddress"
                      value="{{stdProfileDetailsData?.emergencyContactAddress}}">
                  </mat-form-field>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Father Occupation" name="fatherOccupation" formControlName="fatherOccupation"
                      value="{{stdProfileDetailsData?.fatherOccupation}}">
                  </mat-form-field>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Mother Occupation" name="motherOccupation" formControlName="motherOccupation"
                      value="{{stdProfileDetailsData?.motherOccupation}}">
                  </mat-form-field>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Guardian Occupation" name="guardianOccupation"
                      formControlName="guardianOccupation" value="{{stdProfileDetailsData?.guardianOccupation}}">
                  </mat-form-field>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Relationship" name="emergencyContactRelationship"
                      formControlName="emergencyContactRelationship" value="{{stdProfileDetailsData?.emergencyContactRelationship}}">
                  </mat-form-field>
                </div>
              </div>

              <br />

              <div class="row">
                <div class="col-md-12 mb-3 mt-2">
                  <h5 class="h6 font-weight-bold sub-heading">Permanent Address Information</h5>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Address 1 *" name="permanentAddress1" formControlName="permanentAddress1"
                      value="{{stdProfileDetailsData?.permanentAddress1}}">
                    <mat-error *ngIf="permanentAddress1.hasError('required')">Field is required.</mat-error>
                  </mat-form-field>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Address 2" name="permanentAddress2" formControlName="permanentAddress2"
                      value="{{stdProfileDetailsData?.permanentAddress2}}">
                  </mat-form-field>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Phone *" name="permanentAddressPhNo" formControlName="permanentAddressPhNo"
                      value="{{stdProfileDetailsData?.permanentAddressPhNo}}">
                      <mat-error *ngIf="permanentAddressPhNo.hasError('required')">Field is required.</mat-error>
                  </mat-form-field>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="City *" name="permanentAddressCity" formControlName="permanentAddressCity"
                      value="{{stdProfileDetailsData?.permanentAddressCity}}">
                      <mat-error *ngIf="permanentAddressCity.hasError('required')">Field is required.</mat-error>
                  </mat-form-field>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Taluk" name="permanentAddressTaluk" formControlName="permanentAddressTaluk"
                      value="{{stdProfileDetailsData?.permanentAddressTaluk}}">
                  </mat-form-field>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="District *" name="permanentAddressDistrict" formControlName="permanentAddressDistrict"
                      value="{{stdProfileDetailsData?.permanentAddressDistrict}}">
                      <mat-error *ngIf="permanentAddressDistrict.hasError('required')">Field is required.</mat-error>
                  </mat-form-field>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Country *" name="permanentAddressCountry" formControlName="permanentAddressCountry"
                      value="{{stdProfileDetailsData?.permanentAddressCountry}}">
                      <mat-error *ngIf="permanentAddressCountry.hasError('required')">Field is required.</mat-error>
                  </mat-form-field>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="State *" name="permanentAddressState" formControlName="permanentAddressState"
                      value="{{stdProfileDetailsData?.permanentAddressState}}">
                      <mat-error *ngIf="permanentAddressState.hasError('required')">Field is required.</mat-error>
                  </mat-form-field>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Pin *" name="permanentAddressPin" formControlName="permanentAddressPin"
                      value="{{stdProfileDetailsData?.permanentAddressPin}}">
                      <mat-error *ngIf="permanentAddressPin.hasError('required')">Field is required.</mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 mb-3 mt-2">
                  <h5 class="h6 font-weight-bold sub-heading">Temporary Address Information</h5>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Address 1" name="tempAddress1" formControlName="tempAddress1"
                      value="{{stdProfileDetailsData?.tempAddress1}}">
                  </mat-form-field>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Address 2" name="tempAddress2" formControlName="tempAddress2"
                      value="{{stdProfileDetailsData?.tempAddress2}}">
                  </mat-form-field>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Phone" name="tempAddressPhNo" formControlName="tempAddressPhNo"
                      value="{{stdProfileDetailsData?.tempAddressPhNo}}">
                  </mat-form-field>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Taluk" name="tempAddressTaluk" formControlName="tempAddressTaluk"
                      value="{{stdProfileDetailsData?.tempAddressTaluk}}">
                  </mat-form-field>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="City" name="tempAddressCity" formControlName="tempAddressCity"
                      value="{{stdProfileDetailsData?.tempAddressCity}}">
                  </mat-form-field>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="District" name="tempAddressDistrict" formControlName="tempAddressDistrict"
                      value="{{stdProfileDetailsData?.tempAddressDistrict}}">
                  </mat-form-field>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="State" name="tempAddressState" formControlName="tempAddressState"
                      value="{{stdProfileDetailsData?.tempAddressState}}">
                  </mat-form-field>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Country" name="tempAddressCountry" formControlName="tempAddressCountry"
                      value="{{stdProfileDetailsData?.tempAddressCountry}}">
                  </mat-form-field>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="number" placeholder="Pin" name="tempAddressPin" formControlName="tempAddressPin"
                      value="{{stdProfileDetailsData?.tempAddressPin}}">
                  </mat-form-field>
                </div>
              </div>



              <div class="row">
                <div class="col-md-12 mb-3 mt-2">
                  <h5 class="h6 font-weight-bold sub-heading">Family Information</h5>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Father Aadhar No." name="fatherAadharNo" formControlName="fatherAadharNo"
                      value="{{stdProfileDetailsData?.fatherAadharNo}}">
                  </mat-form-field>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Mother Aadhar No." name="motherAadharNo" formControlName="motherAadharNo"
                      value="{{stdProfileDetailsData?.motherAadharNo}}">
                  </mat-form-field>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="Father Caste" name="fatherCaste" formControlName="fatherCaste" value="{{stdProfileDetailsData?.fatherCaste}}">
                      <mat-option value="GENERAL">General</mat-option>
                      <mat-option value="SC">SC</mat-option>
                      <mat-option value="ST">ST</mat-option>
                      <mat-option value="OBC ">OBC</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="Mother Caste" name="motherCaste" formControlName="motherCaste" value="{{stdProfileDetailsData?.motherCaste}}">
                      <mat-option value="GENERAL">General</mat-option>
                      <mat-option value="SC">SC</mat-option>
                      <mat-option value="ST">ST</mat-option>
                      <mat-option value="OBC ">OBC</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="BPL Status" name="bplStatus" formControlName="bplStatus" value="{{stdProfileDetailsData?.bplStatus}}">
                      <mat-option value="YES">YES</mat-option>
                      <mat-option value="NO">NO</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="BPL Number" name="bplNo" formControlName="bplNo" value="{{stdProfileDetailsData?.bplNo}}">
                  </mat-form-field>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="Mother Tongue" name="motherTongue" formControlName="motherTongue" value="{{stdProfileDetailsData?.motherTongue}}">
                      <mat-option value="bengali">Bengali</mat-option>
                      <mat-option value="hindi">Hindi</mat-option>
                      <mat-option value="english">English</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>



              <div class="row">
                <div class="col-md-12 mb-3 mt-2">
                  <h5 class="h6 font-weight-bold sub-heading">Bank Information</h5>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Bank Name" name="bankName" formControlName="bankName"
                      value="{{stdProfileDetailsData?.bankName}}">
                  </mat-form-field>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Bank IFSC" name="bankIFSCCode" formControlName="bankIFSCCode"
                      value="{{stdProfileDetailsData?.bankIFSCCode}}">
                  </mat-form-field>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Bank Account No" name="bankAccNo" formControlName="bankAccNo"
                      value="{{stdProfileDetailsData?.bankAccNo}}">
                  </mat-form-field>
                </div>
              </div>


              <div class="row">
                <div class="col-md-12 mb-3 mt-2">
                  <h5 class="h6 font-weight-bold sub-heading">Others Information</h5>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="Sponsorship Request" name="sponsorshipReq" formControlName="sponsorshipReq"
                      value="{{stdProfileDetailsData?.sponsorshipReq}}">
                      <mat-option value="YES">YES</mat-option>
                      <mat-option value="NO">NO</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Identification Mark 1" name="identificationMark1"
                      formControlName="identificationMark1" value="{{stdProfileDetailsData?.identificationMark1}}">
                  </mat-form-field>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Identification Mark 2" name="identificationMark2"
                      formControlName="identificationMark2" value="{{stdProfileDetailsData?.identificationMark2}}">
                  </mat-form-field>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <!-- <mat-select placeholder="Disability" name="disability" formControlName="disability" value="{{stdProfileDetailsData?.disability}}">
                      <mat-option value="yes">YES</mat-option>
                      <mat-option value="no">NO</mat-option>
                    </mat-select> -->

                    <input matInput type="text" placeholder="Disability" name="disability" formControlName="disability"
                      value="{{stdProfileDetailsData?.disability}}">
                  </mat-form-field>
                </div>

                <div class="col-sm-3 pr-4 pl-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Special Category" name="specialCategory" formControlName="specialCategory"
                      value="{{stdProfileDetailsData?.specialCategory}}">
                  </mat-form-field>
                </div>
              </div>


              <div class="row">
                <div class="col-md-12 mt-4">* fields are required.</div>
                <div class="col-md-12 mt-4">
                  <div class="form-group">
                    <button class="btn btn-success btn-lg" type="submit">Update</button>
                  </div>
                </div>
              </div>

            </form>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- <ng2-toasty [position]="position"></ng2-toasty> -->
