<div class="page-content fade-in-up">
  <div class="row">
    <div class="col-md-12">


        <div class="ibox">
            <div class="ibox-head">
              <div class="ibox-title">Teacher Activities / View Time Table</div>
              <div class="ibox-tools">
                <a class="ibox-collapse">
                  <i class="fa fa-refresh mr-1 text-success refresh-icon" aria-hidden="true"></i>
                  <!-- <i class="fa fa-times text-danger close-icon" aria-hidden="true"></i> -->
                  <i class="fa fa-angle-down arrow" aria-hidden="true"></i>
                </a>
              </div>
            </div>

            <div class="ibox-body">
                <form id="add-student-form">
                  <div class="row student-info pl-3">
                    <div class="col-md-3 mb-4">
                        <mat-form-field class="example-full-width ">
                            <mat-select placeholder="Select Academic *" name="bloodGroup">
                              <mat-option value="b+">Annual 2018-19</mat-option>
                              <mat-option value="o+">Annual 2019-20</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>

                    <div class="col-md-3 mb-4">
                        <mat-form-field class="example-full-width">
                            <mat-select placeholder="Select Class *" name="bloodGroup">
                              <mat-option value="b+">IX</mat-option>
                              <mat-option value="o+">X</mat-option>
                              <mat-option value="b+">XI</mat-option>
                              <mat-option value="o+">XII</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>

                    <div class="col-md-3 mb-4">
                        <mat-form-field class="example-full-width ">
                            <mat-select placeholder="Select section *" name="bloodGroup">
                              <mat-option value="b+">A</mat-option>
                              <mat-option value="o+">B</mat-option>
                              <mat-option value="o+">C</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>

                    <div class="col-md-3 mb-4">
                        <div class="col-md-12 mt-4">
                            <div class="form-group">
                              <button class="btn btn-success btn-lg" type="submit">Search Time Table</button>
                            </div>
                          </div>
                    </div>

                    <div class="col-md-12 mb-12">
                        
                            <div class="form-group">
                              <button class="btn btn-primary btn-lg btn-width" type="submit">Day/Period</button>
                            </div>
                         
                    </div>

                  </div>
                    </form>
                  </div>
            </div>

    </div>
  </div>
</div>