thead{
    background: #d7eafd;
}

.days-name{
    text-align: center;
    padding-top: 55px;
}

th p{
    text-align: center;
    font-weight: bold;
}


.sub-text{
    width: 70%;
}

.new-width {   
    width: 114px!important;
}

.labelSchedule {
    font-size: .8rem;
    font-weight: normal;
}

.mat-form-field-wrapper {
    // padding-bottom: .5em;
}

.subTeaFont {
    font-size: .8rem;
    margin-bottom: .3rem;
}