<div class="page-content fade-in-up">
  <div class="row">
    <div class="col-md-12">

          <ul class="nav nav-tabs nav-justified" id="nav-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" aria-controls="studentDetails" href="#studentDetails" id="studentDetails-tab"
                aria-selected="true">
                Create Time Table
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" aria-controls="studentProfileDetails" href="#studentProfileDetails" id="studentProfileDetails-tab"
                aria-selected="false">
                Search Time Table For Class
              </a>
            </li>
          </ul>

          <div class="tab-content" id="nav-tabContent">
              <div class="ibox tab-pane show active" id="studentDetails" role="tabpanel" aria-labelledby="studentDetails-tab">
                <!-- <div class="ibox-head"> -->
                  <!-- <div class="ibox-title">Edit Student Form</div> -->
                  <!-- <div class="ibox-tools">
                          <a class="ibox-collapse">
                          <i class="fa fa-refresh mr-1 text-success refresh-icon" aria-hidden="true"></i>
                          <i class="fa fa-times text-danger close-icon" aria-hidden="true"></i>
                          </a>
                      </div> -->
                <!-- </div> -->

                <div class="ibox-body">
                    <form id="edit-student-form" [formGroup]="timeTableAddForm" (ngSubmit)="onSubmitTimeTable()">
                      <div class="row student-info pl-3">

                          <!-- <div class="col-sm-3">
                              <mat-form-field class="example-full-width">
                                <mat-select placeholder="Select Academic *" name="gender" formControlName="gender">
                                  <mat-option value="male">Annual 2018-19</mat-option>
                                  <mat-option value="female">Annual 2019-20</mat-option>
                                  
                                </mat-select>
                                <mat-error *ngIf="gender.hasError('required')">
                                  Field is required.
                                </mat-error>
                              </mat-form-field>
                            </div> -->

                            <div class="col-sm-3">
                                <mat-form-field class="example-full-width">
                                  <mat-select placeholder="Select Academic *" name="academic" formControlName="academic">
                                    <mat-option *ngFor="let academic of academicList" [value]=academic.id>{{academic.academicType}} ({{academic.academic}})</mat-option>
                                  </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-3">
                                <mat-form-field class="example-full-width">
                                  <mat-select placeholder="Select Class *" name="class" (change)="onChangeClass($event)" formControlName="class">
                                      <mat-option *ngFor="let class of classList" [value]=class.classID>{{class.className}}</mat-option>
                                  </mat-select>
                                </mat-form-field>
                            </div>

                              <div class="col-sm-3">
                                  <mat-form-field class="example-full-width">
                                    <mat-select placeholder="Select Section *" name="section" formControlName="section">
                                      <mat-option *ngFor="let sec of sectionList" [value]=sec.sectionID>{{sec.sectionName}}</mat-option>
                                    </mat-select>
                                    <!-- <mat-error *ngIf="gender.hasError('required')">
                                      Field is required.
                                    </mat-error> -->
                                  </mat-form-field>
                              </div>

                                <div class="col-sm-3">
                                    
                                  </div>

                                  <!-- <div class="col-sm-3">
                                      <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Enter school Time Starts *" type="text" name="lastName" formControlName="lastName">
                                        <mat-error *ngIf="lastName.hasError('required')">
                                          Field is required.
                                        </mat-error>
                                      </mat-form-field>
                                    </div> -->
                                    <!-- id='datetimepicker3' -->
                                    <!-- <div class="col-sm-3">
                                        <div class="form-group">
                                            <div class='input-group date'>
                                                <input type='time' class="form-control" placeholder="Enter school Time Starts" formControlName="startTime"/>
                                                <span class="input-group-addon">
                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                </span>
                                            </div>
                                        </div>
                                      </div> -->

                                      <div class="col-sm-3">
                                        <mat-form-field class="example-full-width">
                                          <input matInput placeholder="Enter school Time Starts *" type="time" name="startTime" formControlName="startTime">
                                          <!-- <mat-error *ngIf="lastName.hasError('required')">
                                            Field is required.
                                          </mat-error> -->
                                        </mat-form-field>
                                      </div>

                                      <div class="col-sm-3">
                                        <mat-form-field class="example-full-width">
                                          <input matInput placeholder="Slot Time For Period in minutes *" type="time" name="periodDuration" formControlName="periodDuration">
                                          <!-- <mat-error *ngIf="lastName.hasError('required')">
                                            Field is required.
                                          </mat-error> -->
                                        </mat-form-field>
                                      </div>

                                      <div class="col-sm-3">
                                          <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Enter No of Days *" type="number" name="noOfDays" formControlName="noOfDays">
                                            <!-- <mat-error *ngIf="lastName.hasError('required')">
                                              Field is required.
                                            </mat-error> -->
                                          </mat-form-field>
                                        </div>

                                        <div class="col-sm-3">
                                            
                                          </div>

                                          <div class="col-sm-3">
                                              <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Select of Periods *" type="number" name="period" formControlName="period">
                                                <!-- <mat-error *ngIf="lastName.hasError('required')">
                                                  Field is required.
                                                </mat-error> -->
                                              </mat-form-field>
                                            </div>

                                            <div class="row pl-3">                                    
                                                <div class="col-md-12">
                                                  <div class="form-group">
                                                    <button class="btn btn-success btn-lg" type="submit" [disabled]="!timeTableAddForm.valid">Prepare Time Table</button>
                                                  </div>
                                                </div>
                                            </div>

                      </div>
                    </form>


                    <div class="row student-info pl-3" *ngIf="showTimeTable">
                      <div class="col-sm-12 table-responsive">

                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <td></td>
                              <th *ngFor="let period of periodArr">
                                  <p class="mb-0">Period {{period.id}}</p>
                                  <div class="form-group mb-0">
                                      <label for="" class="labelSchedule">From</label>
                                      <div class='input-group'>          
                                        <input type='time' class="form-control" id="from_{{period.id}}"/>
                                      </div>
                                  </div>
                                  
                                  <div class="form-group mb-0">
                                      <label for="" class="labelSchedule">To</label>
                                      <div class='input-group'>
                                        <input type='time' class="form-control" id="to_{{period.id}}"/> 
                                      </div>
                                  </div>
                              </th>
                            </tr>
                          </thead>


                          <tbody>
                            <tr *ngFor="let day of daysArr; let i = index">
                              <td class="days-name pt-4">{{day?.day}}</td>
                              <td *ngFor="let period of periodArr; let p = index"> 

                                <mat-form-field class="new-width pb-0 mb-0 pt-0 mt-0">
                                  <mat-select placeholder="Select Subject *" (change)="onSelectSubject($event, day?.day+period?.id)" id="subject_{{day?.day}}_{{period?.id}}" [(ngModel)]="subject[day?.day+period?.id]">
                                    <mat-option *ngFor="let subject of subjects" value="{{subject?.subjectID}}">
                                      {{subject?.subjectName}}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>

                                <mat-form-field class="new-width pb-0 mb-0 pt-0 mt-0">
                                    <mat-select placeholder="Select Teacher *" (change)="onSelectTeacher($event, day?.day, i, period?.id)" id="teacher_{{day?.day}}_{{period?.id}}" [(ngModel)]="teacher[day?.day+period?.id]">
                                      <mat-option *ngFor="let teacher of filterTeacherarr[day?.day+period?.id]" value="{{teacher?.userID}}">{{teacher?.firstName}} {{teacher?.lastName}}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                              </td>                              
                            </tr>
                          </tbody>


                        </table>

                        <div class="row">                                    
                          <div class="col-md-12">
                            <div class="form-group">
                              <button class="btn btn-success btn-lg ml-4" type="submit" (click)="onSubmitRoutine()">Submit</button>
                            </div>
                          </div>
                        </div>

                      </div>





                      <!-- <div class="row">                                    
                        <div class="col-md-12">
                          <div class="form-group">
                            <button class="btn btn-success btn-md" type="submit">Submit</button>
                          </div>
                        </div>
                      </div> -->

                    </div>
                </div>
              </div>












                <div class="ibox tab-pane" id="studentProfileDetails" role="tabpanel" aria-labelledby="studentProfileDetails-tab">
                    <!-- <div class="ibox-head">
                      
                    </div> -->

                    <div class="ibox-body">
                        <form id="edit-student-profile-details-form" [formGroup]="timeTableSearchForm" (ngSubmit)="onSubmitSearchTimeTable()">
                          <div class="row student-info pl-3">
                            <!-- <div class="col-md-12 mb-3">
                              <h6 class="h6 font-weight-bold sub-heading">Previous Institution Information</h6>
                            </div> -->

                            <!-- <div class="col-sm-3 pr-4 pl-4">
                                <mat-form-field class="example-full-width ">
                                    <mat-select placeholder="Select Academic *" name="bloodGroup">
                                      <mat-option value="b+">Annual 2018-19</mat-option>
                                      <mat-option value="o+">Annual 2019-20</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                              </div> -->

                              <div class="col-sm-3">
                                <mat-form-field class="example-full-width">
                                  <mat-select placeholder="Select Academic *" name="searchAcademic" formControlName="searchAcademic">
                                    <mat-option *ngFor="let academic of academicList" [value]=academic.id>{{academic.academicType}} ({{academic.academic}})</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>

                                <div class="col-sm-3">
                                  <mat-form-field class="example-full-width">
                                    <mat-select placeholder="Select Class *" name="searchClass" (change)="onChangeClass($event)" formControlName="searchClass">
                                        <mat-option *ngFor="let class of classListForSearch" [value]=class.classID>{{class.className}}</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>

                                <div class="col-sm-3">
                                  <mat-form-field class="example-full-width">
                                    <mat-select placeholder="Select Section *" name="searchSection" formControlName="searchSection">
                                      <mat-option *ngFor="let sec of sectionListForSearch" [value]=sec.sectionID>{{sec.sectionName}}</mat-option>
                                    </mat-select>
                                    <!-- <mat-error *ngIf="gender.hasError('required')">
                                      Field is required.
                                    </mat-error> -->
                                  </mat-form-field>
                                </div>

                                  <!-- <div class="col-sm-3 pr-4 pl-4">
                                      <div class="col-md-12 mt-4">
                                          <div class="form-group">
                                            <button class="btn btn-success btn-lg" type="submit">Prepare Time Table</button>
                                          </div>
                                        </div>
                                    </div> -->

                                  <div class="row pl-3">                                    
                                      <div class="col-md-12">
                                        <div class="form-group">
                                          <button class="btn btn-success btn-lg" type="submit" [disabled]="!timeTableSearchForm.valid">Prepare Time Table</button>
                                        </div>
                                      </div>
                                  </div>

                                   

                          </div>
                        </form>


                        
                    <div class="row student-info pl-3" *ngIf="showTimeTableForClass">
                        <div class="col-sm-12 table-responsive">

                          <table class="table table-bordered">
                            <thead>
                              <tr>
                                <td></td>
                                <th *ngFor="let period of timeTableDataForClassSection[0]?.periods; let i = index">
                                    <p class="mb-0">Period {{i+1}}</p>
                                    <div class="form-group mb-0 text-center">
                                        <label for="" class="labelSchedule mb-0">From : {{period?.periodStart}}</label>
                                        <!-- <div class='input-group'>          
                                          <input type='time' class="form-control" id="from_{{period.id}}"/>
                                        </div> -->
                                    </div>
                                    
                                    <div class="form-group mb-0 text-center">
                                        <label for="" class="labelSchedule mb-0">To : {{period?.periodEnd}}</label>
                                        <!-- <div class='input-group'>
                                          <input type='time' class="form-control" id="to_{{period.id}}"/> 
                                        </div> -->
                                    </div>
                                </th>
                              </tr>
                            </thead>
  
  
                            <tbody>
                              <tr *ngFor="let day of timeTableDataForClassSection; let i = index">
                                <td class="days-name pt-4 text-uppercase">{{day?.dayName}}</td>
                                <td *ngFor="let period of day?.periods; let p = index"> 

                                  <label class="text-capitalize subTeaFont">subject: <br/><span class="font-weight-bold">{{period?.subjectName}}</span></label>
                                  <br/>
                                  <label class="text-capitalize subTeaFont">teacher: <br/><span class="font-weight-bold">{{period?.teacherName}}</span></label>
  
                                  <!-- <mat-form-field class="new-width pb-0 mb-0 pt-0 mt-0">
                                    <mat-select placeholder="Select Subject *" (change)="onSelectSubject($event, day?.day+period?.id)" id="subject_{{day?.day}}_{{period?.id}}" [(ngModel)]="subject[day?.day+period?.id]">
                                      <mat-option *ngFor="let subject of subjects" value="{{subject?.subjectID}}">
                                        {{subject?.subjectName}}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
  
                                  <mat-form-field class="new-width pb-0 mb-0 pt-0 mt-0">
                                      <mat-select placeholder="Select Teacher *" (change)="onSelectTeacher($event, day?.day, i, period?.id)" id="teacher_{{day?.day}}_{{period?.id}}" [(ngModel)]="teacher[day?.day+period?.id]">
                                        <mat-option *ngFor="let teacher of filterTeacherarr[day?.day+period?.id]" value="{{teacher?.userID}}">{{teacher?.firstName}} {{teacher?.lastName}}</mat-option>
                                      </mat-select>
                                  </mat-form-field> -->
  
                                </td>                              
                              </tr>
                            </tbody>
  
  
                          </table>  

                        </div>
                    </div>
                      </div>
                  </div>

              </div>
            
    </div>
  </div>
  </div>





  <ng2-toasty [position]="position"></ng2-toasty>
  <div toastContainer></div>
