<div class="page-content fade-in-up">
    <div class="row">
      <div class="col-md-12">
  
          <div class="ibox">        
              <div class="ibox-head">
                <div class="ibox-title">
                  {{stdDetailsData?.firstName | uppercase}} 
                  {{stdDetailsData?.lastName | uppercase}} DETAILS
                </div>
                <div class="ibox-tools">
                  <a class="ibox-collapse">
                    <i class="fa fa-refresh mr-1 text-success refresh-icon" aria-hidden="true"></i>
                    <i class="fa fa-times text-danger close-icon" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
    
              <div class="ibox-body">
                <div class="row">
                  <div class="col-md-3">                    
                      <img [src]="url" class="img-thumbnail"
                        alt="profile-picture"/>                    
                  </div>
                  <div class="col-md-9">                 
                     
                    <div class="row">
                        <div class="col-md-10">
                            <h5 class="h5 mb-2">About Me</h5>
                        </div>
                        <div class="col-md-2 text-secondary">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            <i class="fa fa-print ml-2" aria-hidden="true"></i>
                            <i class="fa fa-download ml-2" aria-hidden="true"></i>  
                        </div>
                      <div class="col-md-3 text-muted">
                          <p class="ts-1 mt-4 mb-1">Name : </p>
                          <p class="ts-1 mt-1 mb-1">Gender : </p>
                          <p class="ts-1 mt-1 mb-1">Father Name : </p>
                          <p class="ts-1 mt-1 mb-1">Mother Name : </p>
                          <p class="ts-1 mt-1 mb-1">Date of Birth : </p>
                          <p class="ts-1 mt-1 mb-1">Religion : </p>
                          <p class="ts-1 mt-1 mb-1">Father Occupation : </p>
                          <p class="ts-1 mt-1 mb-1">Email : </p>                          
                          <p class="ts-1 mt-1 mb-1">Admission Date : </p>
                          <p class="ts-1 mt-1 mb-1">Class : </p>
                          <p class="ts-1 mt-1 mb-1">Section : </p>
                          <p class="ts-1 mt-1 mb-1">Roll : </p>
                          <p class="ts-1 mt-1 mb-1">Address : </p>
                          <p class="ts-1 mt-1">Phone : </p>
                      </div>
                      <div class="col-md-9">
                          <p class="ts-1 mt-4 mb-1">{{stdDetailsData?.firstName}} {{stdDetailsData?.middleName}} {{stdDetailsData?.lastName}}</p>
                          <p class="ts-1 mt-1 mb-1">{{stdDetailsData?.gender}}</p>
                          <p class="ts-1 mt-1 mb-1">{{stdDetailsData?.fatherFName}} {{stdDetailsData?.fatherMName}} {{stdDetailsData?.fatherLName}}</p>
                          <p class="ts-1 mt-1 mb-1">
                              {{stdDetailsData?.motherFName}} {{stdDetailsData?.motherMName}} {{stdDetailsData?.motherLName}}
                          </p>
                          <p class="ts-1 mt-1 mb-1">{{stdDetailsData?.date_of_birth}}</p>
                          <p class="ts-1 mt-1 mb-1">
                              {{stdDetailsData?.religion}}
                          </p>
                          <p class="ts-1 mt-1 mb-1" *ngIf="stdDetailsData?.profileDetails.fatherOccupation; else elseBlockOccupation">{{stdDetailsData?.profileDetails.fatherOccupation}}</p>

                          <ng-template #elseBlockOccupation>
                              <p class="ts-1 mt-1 mb-1">Null</p>
                          </ng-template>                         

                          <p class="ts-1 mt-1 mb-1">{{stdDetailsData?.fatherEmailID}}</p>
                          <p class="ts-1 mt-1 mb-1">{{stdDetailsData?.admissionDate}}</p>
                          <p class="ts-1 mt-1 mb-1">{{stdDetailsData?.className}}</p>
                          <p class="ts-1 mt-1 mb-1">{{stdDetailsData?.sectionName}}</p>
                          <p class="ts-1 mt-1 mb-1">{{stdDetailsData?.rollNo}}</p>

                          <p class="ts-1 mt-1 mb-1" *ngIf="stdDetailsData?.profileDetails.permanentAddressCity; else elseBlockAddCity">{{stdDetailsData?.profileDetails.permanentAddressCity}}</p>

                          <ng-template #elseBlockAddCity>
                              <p class="ts-1 mt-1 mb-1">Null</p>
                          </ng-template>
                          
                          <p class="ts-1 mt-1">{{stdDetailsData?.mobileNo}}</p>
                      </div>
                    </div>                                   
                  </div>
                </div>
              </div>
          </div>
  
      </div>
    </div>
  </div>    
  
