<div class="page-content fade-in-up">
    <div class="row">
      <div class="col-md-12">
  
          <div class="ibox">        
              <div class="ibox-head">
                <div class="ibox-title">Mehrul Shal Details</div>
                <div class="ibox-tools">
                  <a class="ibox-collapse">
                    <i class="fa fa-refresh mr-1 text-success refresh-icon" aria-hidden="true"></i>
                    <i class="fa fa-times text-danger close-icon" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
    
              <div class="ibox-body">
                <div class="row">
                  <div class="col-md-3">                    
                      <img [src]="url" class="img-thumbnail"
                        alt="profile-picture"/>                    
                  </div>
                  <div class="col-md-9">                 
                     
                    <div class="row">
                        <div class="col-md-10">
                            <h5 class="h5 mb-2">About Me</h5>
                        </div>
                        <div class="col-md-2 text-secondary">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            <i class="fa fa-print ml-2" aria-hidden="true"></i>
                            <i class="fa fa-download ml-2" aria-hidden="true"></i>  
                        </div>
                      <div class="col-md-3 text-muted">
                          <p class="ts-1 mt-4 mb-1">Name : </p>
                          <p class="ts-1 mt-1 mb-1">Gender : </p>
                          <p class="ts-1 mt-1 mb-1">Father Name : </p>
                          <p class="ts-1 mt-1 mb-1">Mother Name : </p>
                          <p class="ts-1 mt-1 mb-1">Date of Birth : </p>
                          <p class="ts-1 mt-1 mb-1">Religion : </p>
                          <p class="ts-1 mt-1 mb-1">Father Occupation : </p>
                          <p class="ts-1 mt-1 mb-1">Email : </p>                          
                          <p class="ts-1 mt-1 mb-1">Admission Date : </p>
                          <p class="ts-1 mt-1 mb-1">Class : </p>
                          <p class="ts-1 mt-1 mb-1">Section : </p>
                          <p class="ts-1 mt-1 mb-1">Roll : </p>
                          <p class="ts-1 mt-1 mb-1">Address : </p>
                          <p class="ts-1 mt-1">Phone : </p>
                      </div>
                      <div class="col-md-9">
                          <p class="ts-1 mt-4 mb-1">Mehrul Shal</p>
                          <p class="ts-1 mt-1 mb-1">Male</p>
                          <p class="ts-1 mt-1 mb-1">Samir Shal</p>
                          <p class="ts-1 mt-1 mb-1">Samira Shal</p>
                          <p class="ts-1 mt-1 mb-1">02/11/2002</p>
                          <p class="ts-1 mt-1 mb-1">Hindu</p>
                          <p class="ts-1 mt-1 mb-1">Business</p>
                          <p class="ts-1 mt-1 mb-1">father@gmail.com</p>
                          <p class="ts-1 mt-1 mb-1">02/05/2006</p>
                          <p class="ts-1 mt-1 mb-1">7</p>
                          <p class="ts-1 mt-1 mb-1">A</p>
                          <p class="ts-1 mt-1 mb-1">37</p>
                          <p class="ts-1 mt-1 mb-1">25, Park Street</p>
                          <p class="ts-1 mt-1">6598552546</p>
                      </div>
                    </div>                                   
                  </div>
                </div>
              </div>
          </div>
  
      </div>
    </div>
  </div>    
  
