<ng2-toasty [position]="position"></ng2-toasty>


<div class="content cover-image">

    <div class="brand"></div>

    <form id="login-form" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">

        <h2 class="login-title">Log in</h2>

        <div class="form-group">
            <div class="input-group-icon right">
                <div class="input-icon"><i class="fa fa-envelope"></i></div>
                <input class="form-control" type="email" name="userName" formControlName="userName" placeholder="Email" autocomplete="off">
            </div>
        </div>

        <div class="form-group">
            <div class="input-group-icon right">
                <div class="input-icon"><i class="fa fa-lock font-16"></i></div>
                <input class="form-control" type="password" name="password" formControlName="password"  placeholder="Password" autocomplete="off">
            </div>
        </div>

        <div class="form-group d-flex justify-content-between">
            <label class="ui-checkbox ui-checkbox-info">
                <input type="checkbox">
                <span class="input-span"></span>Remember me
            </label>
            <a routerLink="/login" class="text-font-md">Forgot password?</a>
        </div>

        <div class="form-group">
            <button class="btn btn-info btn-block" type="submit">Login</button>
        </div>
        
        <div class="text-center text-font-md">Not a member?
            <a class="color-blue" routerLink="/login">Create accaunt</a>
        </div>
    </form>
</div>


<ng2-toasty [position]="position"></ng2-toasty>
