<div class="page-content fade-in-up">
  <div class="row">
    <div class="col-md-12">

      <div class="ibox">
        <div class="ibox-head">
          <div class="ibox-title">Add Student Details Form</div>
          <!-- <div class="ibox-tools">
                <a class="ibox-collapse">
                  <i class="fa fa-refresh mr-1 text-success refresh-icon" aria-hidden="true"></i>
                  <i class="fa fa-times text-danger close-icon" aria-hidden="true"></i>
                </a>
              </div> -->
        </div>

        <div class="ibox-body">
          <form id="add-student-detail-form" [formGroup]="addStudentDetailsForm" (ngSubmit)="onAddStudentDetailsSubmit()">
            <div class="row student-info">
              <div class="col-md-12 mb-3">
                <h6 class="h6 font-weight-bold sub-heading">Previous Institution Information</h6>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <mat-select placeholder="Region" name="region" formControlName="region">
                    <mat-option value="urban">Urban</mat-option>
                    <mat-option value="rural">Rural</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="Name" name="previousInsName" formControlName="previousInsName">
                </mat-form-field>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="Type" name="previousInsType" formControlName="previousInsType">
                </mat-form-field>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="Affiliation" name="previousInsAffiliation" formControlName="previousInsAffiliation">
                </mat-form-field>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="Address" name="previousInsAddress" formControlName="previousInsAddress">
                </mat-form-field>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="City" name="previousInsCity" formControlName="previousInsCity">
                </mat-form-field>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="Taluk" name="previousInsTaluk" formControlName="previousInsTaluk">
                </mat-form-field>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="District" name="previousInsDistrict" formControlName="previousInsDistrict">
                </mat-form-field>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="State" name="previousInsState" formControlName="previousInsState">
                </mat-form-field>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <input matInput type="number" placeholder="Pin" name="previousInsPin" formControlName="previousInsPin">
                </mat-form-field>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="TC No." name="previousTCNo" formControlName="previousTCNo">
                </mat-form-field>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <input matInput [matDatepicker]="previousTCDate" placeholder="TC Date" name="previousTCDate"
                    formControlName="previousTCDate">
                  <mat-datepicker-toggle matSuffix [for]="previousTCDate"></mat-datepicker-toggle>
                  <mat-datepicker #previousTCDate></mat-datepicker>
                </mat-form-field>
              </div>
            </div>

            <br />

            <div class="row">
              <div class="col-md-12 mb-3 mt-4">
                <h5 class="h6 font-weight-bold sub-heading">Emergency Contact Information</h5>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="Name" name="emergencyContactName" formControlName="emergencyContactName">
                </mat-form-field>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="Mobile" name="emergencyContactMobile" formControlName="emergencyContactMobile">
                </mat-form-field>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="Address" name="emergencyContactAddress" formControlName="emergencyContactAddress">
                </mat-form-field>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="Father Occupation" name="fatherOccupation" formControlName="fatherOccupation">
                </mat-form-field>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="Mother Occupation" name="motherOccupation" formControlName="motherOccupation">
                </mat-form-field>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="Guardian Occupation" name="guardianOccupation"
                    formControlName="guardianOccupation">
                </mat-form-field>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="Relationship" name="emergencyContactRelationship"
                    formControlName="emergencyContactRelationship">
                </mat-form-field>
              </div>
            </div>

            <br />

            <div class="row">
              <div class="col-md-12 mb-3 mt-4">
                <h5 class="h6 font-weight-bold sub-heading">Permanent Address Information</h5>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="Address 1" name="permanentAddress1" formControlName="permanentAddress1">
                </mat-form-field>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="Address 2" name="permanentAddress2" formControlName="permanentAddress2">
                </mat-form-field>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <input matInput type="number" placeholder="Phone" name="permanentAddressPhNo" formControlName="permanentAddressPhNo">
                </mat-form-field>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="City" name="permanentAddressCity" formControlName="permanentAddressCity">
                </mat-form-field>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="Taluk" name="permanentAddressTaluk" formControlName="permanentAddressTaluk">
                </mat-form-field>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="District" name="permanentAddressDistrict" formControlName="permanentAddressDistrict">
                </mat-form-field>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="Country" name="permanentAddressCountry" formControlName="permanentAddressCountry">
                </mat-form-field>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="State" name="permanentAddressState" formControlName="permanentAddressState">
                </mat-form-field>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <input matInput type="number" placeholder="Pin" name="permanentAddressPin" formControlName="permanentAddressPin">
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 mb-3 mt-4">
                <h5 class="h6 font-weight-bold sub-heading">Temporary Address Information</h5>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="Address 1" name="tempAddress1" formControlName="tempAddress1">
                </mat-form-field>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="Address 2" name="tempAddress2" formControlName="tempAddress2">
                </mat-form-field>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="Phone" name="tempAddressPhNo" formControlName="tempAddressPhNo">
                </mat-form-field>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="Taluk" name="tempAddressTaluk" formControlName="tempAddressTaluk">
                </mat-form-field>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="City" name="tempAddressCity" formControlName="tempAddressCity">
                </mat-form-field>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="District" name="tempAddressDistrict" formControlName="tempAddressDistrict">
                </mat-form-field>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="State" name="tempAddressState" formControlName="tempAddressState">
                </mat-form-field>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="Country" name="tempAddressCountry" formControlName="tempAddressCountry">
                </mat-form-field>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <input matInput type="number" placeholder="Pin" name="tempAddressPin" formControlName="tempAddressPin">
                </mat-form-field>
              </div>
            </div>



            <div class="row mb-2">
              <div class="col-md-12 mb-3 mt-4">
                <h5 class="h6 font-weight-bold sub-heading">Family Information</h5>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <input matInput type="number" placeholder="Father Aadhar No." name="fatherAadharNo" formControlName="fatherAadharNo">
                </mat-form-field>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <input matInput type="number" placeholder="Mother Aadhar No." name="motherAadharNo" formControlName="motherAadharNo">
                </mat-form-field>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <mat-select placeholder="Father Caste" name="fatherCaste" formControlName="fatherCaste">
                    <mat-option value="general">General</mat-option>
                    <mat-option value="sc">SC</mat-option>
                    <mat-option value="st">ST</mat-option>
                    <mat-option value="obc">OBC</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <mat-select placeholder="Mother Caste" name="motherCaste" formControlName="motherCaste">
                    <mat-option value="general">General</mat-option>
                    <mat-option value="sc">SC</mat-option>
                    <mat-option value="st">ST</mat-option>
                    <mat-option value="obc">OBC</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <mat-select placeholder="BPL Status" name="bplStatus" formControlName="bplStatus">
                    <mat-option value="yes">YES</mat-option>
                    <mat-option value="no">NO</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <input matInput type="number" placeholder="BPL Number" name="bplNo" formControlName="bplNo">
                </mat-form-field>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <mat-select placeholder="Mother Tongue" name="motherTongue" formControlName="motherTongue">
                    <mat-option value="bengali">Bengali</mat-option>
                    <mat-option value="hindi">Hindi</mat-option>
                    <mat-option value="english">English</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>



            <div class="row  mb-2">
              <div class="col-md-12 mb-3 mt-4">
                <h5 class="h6 font-weight-bold sub-heading">Bank Information</h5>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="Bank Name" name="bankName" formControlName="bankName">
                </mat-form-field>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="Bank IFSC" name="bankIFSCCode" formControlName="bankIFSCCode">
                </mat-form-field>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="Bank Account No" name="bankAccNo" formControlName="bankAccNo">
                </mat-form-field>
              </div>
            </div>


            <div class="row mb-2">
              <div class="col-md-12 mb-3 mt-4">
                <h5 class="h6 font-weight-bold sub-heading">Others Information</h5>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <mat-select placeholder="Sponsorship Request" name="sponsorshipReq" formControlName="sponsorshipReq">
                    <mat-option value="yes">YES</mat-option>
                    <mat-option value="no">NO</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="Identification Mark 1" name="identificationMark1"
                    formControlName="identificationMark1">
                </mat-form-field>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="Identification Mark 2" name="identificationMark2"
                    formControlName="identificationMark2">
                </mat-form-field>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <mat-select placeholder="Disability" name="disability" formControlName="disability">
                    <mat-option value="yes">YES</mat-option>
                    <mat-option value="no">NO</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-sm-3 pr-4 pl-4">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="Special Category" name="specialCategory" formControlName="specialCategory">
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 mt-4">
                <div class="form-group">
                  <button class="btn btn-success btn-lg" type="submit">Submit</button>
                  <button class="btn btn-primary btn-lg" (click)="resetForm()">Reset</button>
                </div>
              </div>
            </div>

          </form>

        </div>
      </div>

    </div>
  </div>
</div>


<ng2-toasty [position]="position"></ng2-toasty>
