<div class="page-content fade-in-up">
    <div class="row">
      <div class="col-md-12">

          <div class="ibox">
              <div class="ibox-head">
                <div class="ibox-title">Certificate Management / Issued New Certificate</div>
                <div class="ibox-tools">
                  <a class="ibox-collapse">
                    <i class="fa fa-refresh mr-1 text-success refresh-icon" aria-hidden="true"></i>
                    <!-- <i class="fa fa-times text-danger close-icon" aria-hidden="true"></i> -->
                    <i class="fa fa-angle-down arrow" aria-hidden="true"></i>
                  </a>
                </div>
              </div>

              <div class="ibox-body">
                  <form id="add-student-form">
                    <div class="row student-info pl-3">
                      <div class="col-md-3 mb-4">
                          <mat-form-field class="example-full-width ">
                              <mat-select placeholder="Select Certificate Type *" name="bloodGroup">
                                <mat-option value="b+">School Living Certificate</mat-option>
                                <mat-option value="o+">Transfer Certificate</mat-option>
                              </mat-select>
                            </mat-form-field>
                      </div>
                      <div class="col-md-3 mb-4">
                          <mat-form-field class="example-full-width">
                              <input matInput placeholder="Admission Or Aadhar-No *" type="text" name="lastName" >
                              <!-- <mat-error *ngIf="lastName.hasError('required')">
                                Field is required.
                              </mat-error> -->
                            </mat-form-field>
                      </div>
                      <div class="col-md-3 mb-4">
                          <div class="col-md-12 mt-4">
                              <div class="form-group">
                                <button class="btn btn-success btn-lg" type="submit">Generate Certificate</button>
                              </div>
                            </div>
                      </div>
                     
                    </div>
                   </form>

                   <div class="row student-info pl-3 certificate-head">
                      <div class="col-md-12 mb-4 ">
                        <h2>Basava International School</h2>
                        <h5>International School Award 2012-2015</h5>
                        <p class="text-cen">www.basavainternationalschool.com sector 23,dwaraka, New Delhi - 110075
                        <br>C.B.S.C Register No.(75903), C.B.S.C Affiliation No.(2730543)</p>
                        <p></p> 
                        <p></p>
                        <h3>School Leaving Certificate</h3>
                      </div>

                      <div class="col-md-6 col-xs-6 mb-4 issue-data">
                        <p>Admission No</p>
                        <p>Student's Name</p>
                        <p>Father's Name</p>
                        <p>Mother's Name</p>
                        <p>Date of Birth(In Figures)</p>
                        <p>Date of Birth(In Words)</p>
                        <p>Date of Admission with class</p>
                        <p>Conduct</p>
                        <p>Last examination taken</p>
                        <p>Reason of Leaving</p>
                        <p>Date of Application for Certification</p>
                        <p>Certification Issued on</p>
                      </div>
                      <div class="col-md-6 col-xs-6 mb-4 issue-data">
                          <p>54C</p>
                          <p>Gagan K P</p>
                          <p>Padmanabh K P</p>
                          <p>Null Null</p>
                          <p>2002-05-06</p>
                          <p>Tenth February Two Thousand Two(-)</p>
                          <p>1902-07-31 , Class</p>
                          <p>Good</p>
                          <p>Class-X</p>
                          <p>Personal</p>
                          <p>05-07-2018</p>
                          <p>06-07-2018</p>
                      </div>
                      <div class="col-md-12 col-xs-12 mb-4"><p class="text-cen">Certified that above information is accordance with the school records and has been checked and verified.</p></div>
                      <div class="col-md-6 col-xs-6 mb-4"><p>checked and Verified by</p></div>
                      <div class="col-md-6 col-xs-6 mb-4"><p>Signature of Principal with stamp</p></div>
                      <div class="col-md-12 col-xs-12 mb-4"><p class="text-cen">No Changes in entry is to be made except by the authority issuing this certificate.</p></div>
                   </div>
                   
                      <div class="col-md-12 mt-4 text-cen">
                          <div class="form-group">
                            <button class="btn btn-success btn-lg" type="submit">Print Certificate</button>
                          </div>
                        </div>
                  
               </div>

   
          </div>
      </div>
    </div>
</div>
