<div class="page-content fade-in-up">
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <div class="row ibox text-dark widget-stat ml-3 mt-2 p-3 no-gutters align-center">
        <div class="col-md-6 text-center">
          <i class="fa fa-birthday-cake dashboard-icon" aria-hidden="true"></i>
          <p class="font-size-02 mb-0">Students Birthday</p>
        </div>
        <div class="col-md-6 text-center font-size-01">
          <p class="mb-0">{{stdntbthdy}}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="row ibox text-dark widget-stat ml-3 mt-2 p-3 no-gutters align-center">
        <div class="col-md-6 text-center">
          <i class="fa fa-file-text-o dashboard-icon" aria-hidden="true"></i>
          <p class="font-size-02 mb-0">Leave Details</p>
        </div>
        <div class="col-md-6 text-center font-size-01">
          <p class="mb-0">{{leavCount}}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="row ibox text-dark widget-stat ml-3 mt-2 p-3 no-gutters align-center">
        <div class="col-md-6 text-center">
          <i class="fa fa-birthday-cake dashboard-icon" aria-hidden="true"></i>
          <p class="font-size-02 mb-0">Users Birthday</p>
        </div>
        <div class="col-md-6 text-center font-size-01">
          <p class="mb-0">{{userBdayList}}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="row ibox text-dark widget-stat ml-3 mt-2 p-3 no-gutters align-center">
        <div class="col-md-6 text-center">
          <i class="fa fa-calendar dashboard-icon" aria-hidden="true"></i>
          <p class="font-size-02 mb-0">Today's Events</p>
        </div>
        <div class="col-md-6 text-center font-size-01">
          <p class="mb-0">{{eventList}}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="row ibox text-dark widget-stat ml-3 mt-2 p-3 no-gutters align-center">
        <div class="col-md-6 text-center">
          <i class="fa fa-money dashboard-icon" aria-hidden="true"></i>
          <p class="font-size-02 mb-0">Fee Details</p>
        </div>
        <div class="col-md-6 text-center font-size-01">
          <p class="mb-0">${{feesList}}</p>
        </div>
      </div>
    </div>
  </div>




  <div class="row">

    <div class="col-lg-6">
      <div class="ibox">
        <div class="ibox-head">
          <div class="ibox-title">Fees Collection & Expenses</div>
          <div class="ibox-tools">
            <!-- <a class="ibox-collapse">
                        <i class="fa fa-refresh mr-1 text-success refresh-icon" aria-hidden="true"></i>
                        <i class="fa fa-times text-danger close-icon" aria-hidden="true"></i>
                    </a> -->
          </div>
        </div>

        <div class="ibox-body">
          <div class="mt-3">
            <canvas id="collection_chart" style="height:250px;"></canvas>
          </div>
        </div>
      </div>
    </div>




    <div class="col-lg-6">
      <div class="ibox">
        <div class="ibox-head">
          <div class="ibox-title">Students Chart</div>
          <div class="ibox-tools">
            <!-- <a class="ibox-collapse">
                        <i class="fa fa-refresh mr-1 text-success refresh-icon" aria-hidden="true"></i>
                        <i class="fa fa-times text-danger close-icon" aria-hidden="true"></i>
                    </a> -->
          </div>
        </div>

        <div class="ibox-body">
          <div class="mt-3">
            <canvas id="student_chart" style="height:250px;"></canvas>
          </div>
        </div>

      </div>
      <!-- </div> -->
    </div>




    <div class="col-lg-6">
      <div class="ibox">
        <div class="ibox-head">
          <div class="ibox-title">Calender Events</div>
          <div class="ibox-tools">
            <a class="ibox-collapse">
              <i class="fa fa-refresh mr-1 text-success refresh-icon" aria-hidden="true"></i>
              <i class="fa fa-times text-danger close-icon" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="ibox-body">
          <div class="" style="width:100%;">
            <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next" [displayMonths]="displayMonths"
              [navigation]="arrows" style="width:100%;">
            </ngb-datepicker>
            <!-- <ngb-datepicker #dp (navigate)="date = $event.next"></ngb-datepicker> -->
          </div>
        </div>
      </div>
    </div>




    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-6">
          <div class="ibox">
            <div class="ibox-head">
              <div class="ibox-title">Notice Board</div>
              <div class="ibox-tools">
                <a class="ibox-collapse">
                  <i class="fa fa-refresh mr-1 text-success refresh-icon" aria-hidden="true"></i>
                  <i class="fa fa-times text-danger close-icon" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="ibox-body">
              <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                  <div class="d-flex w-100 justify-content-between">
                    <h6 class="mb-1 h6 text-primary">John Doe</h6>
                    <small class="text-muted">3 days ago</small>
                  </div>
                  <p class="mb-1 notice-st text-secondary font-size-02">Maecenas sed diam eget risus varius blandit.
                  </p>
                  <!-- <small>Donec id elit non mi porta.</small> -->
                </a>

                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                  <div class="d-flex w-100 justify-content-between">
                    <h6 class="mb-1 h6 text-primary">Kelly Margret</h6>
                    <small class="text-muted">6 days ago</small>
                  </div>
                  <p class="mb-1 notice-st text-secondary font-size-02">Maecenas sed diam eget risus varius blandit.
                  </p>
                  <!-- <small>Donec id elit non mi porta.</small> -->
                </a>

                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                  <div class="d-flex w-100 justify-content-between">
                    <h6 class="mb-1 h6 text-primary">Megan shan</h6>
                    <small class="text-muted">4 days ago</small>
                  </div>
                  <p class="mb-1 notice-st text-secondary font-size-02">Maecenas sed diam eget risus varius blandit.
                  </p>
                  <!-- <small>Donec id elit non mi porta.</small> -->
                </a>

              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="ibox">
            <div class="ibox-head">
              <div class="ibox-title">Recent Activities</div>
              <div class="ibox-tools">
                <a class="ibox-collapse">
                  <i class="fa fa-refresh mr-1 text-success refresh-icon" aria-hidden="true"></i>
                  <i class="fa fa-times text-danger close-icon" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="ibox-body">
              <div class="list-group list-activities">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                  <div class="d-flex w-100 justify-content-between">
                    <small class="text-muted">3 minute ago</small>
                  </div>
                  <p class="mb-1 notice-st text-dark font-size-02">Maecenas sed diam eget risus varius blandit.
                  </p>
                </a>

                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                  <div class="d-flex w-100 justify-content-between">
                    <small class="text-muted">10 minute ago</small>
                  </div>
                  <p class="mb-1 notice-st text-dark font-size-02">Maecenas sed diam eget risus varius blandit.
                  </p>
                </a>

                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                  <div class="d-flex w-100 justify-content-between">
                    <small class="text-muted">12 minute ago</small>
                  </div>
                  <p class="mb-1 notice-st text-dark font-size-02">Maecenas sed diam eget risus varius blandit.
                  </p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <style>
    .visitors-table tbody tr td:last-child {
      display: flex;
      align-items: center;
    }

    .visitors-table .progress {
      flex: 1;
    }

    .visitors-table .progress-parcent {
      text-align: right;
      margin-left: 10px;
    }

  </style>
</div>
