.dashboard-icon {
    font-size: 1.6rem;
}

.font-size-01 {
    font-size: 1.5rem;
}

.font-size-02 {
    font-size: .8rem;
}

.refresh-icon {
    font-size: 9.2px;
}

.close-icon {
    font-size: 10.8px;
}
