<div class="page-content fade-in-up">
  <div class="row">
    <div class="col-md-12">

        <div class="ibox">        
            <div class="ibox-head">
              <div class="ibox-title">Add Student Form</div>
              <div class="ibox-tools">
                <a class="ibox-collapse">
                  <i class="fa fa-refresh mr-1 text-success refresh-icon" aria-hidden="true"></i>
                  <i class="fa fa-times text-danger close-icon" aria-hidden="true"></i>
                </a>
              </div>
            </div>
  
          <div class="ibox-body">
            <form id="add-student-form" [formGroup]="addStudentForm" (ngSubmit)="onAddStudentSubmit()">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <h6 class="h6 font-weight-bold">Student Information</h6>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>First Name *</label>
                        <input class="form-control" type="text" placeholder="First Name" name="firstName" formControlName="firstName">
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Middle Name</label>
                        <input class="form-control" type="text" placeholder="Middle Name" name="middleName" formControlName="middleName">
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Last Name *</label>
                        <input class="form-control" type="text" placeholder="Last Name" name="lastName" formControlName="lastName">
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Aadhar Number *</label>
                        <input class="form-control" type="number" placeholder="Aadhar" name="aadharNo" formControlName="aadharNo">
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Contact Number</label>
                        <input class="form-control" type="number" placeholder="Phone" name="mobileNo" formControlName="mobileNo">
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Date of Birth *</label>
                        <input class="form-control" type="date" placeholder="DOB" name="date_of_birth" formControlName="date_of_birth">
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Blood Group</label>
                        <select class="form-control" name="bloodGroup" formControlName="bloodGroup">
                          <option value="">--Select--</option>
                          <option value="b+">B+</option>
                          <option value="o+">O+</option>
                        </select>    
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Gender</label>
                        <select class="form-control" name="gender" formControlName="gender">
                            <option value="">--Select--</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Contact Preference</label>
                        <select class="form-control" name="preference" formControlName="preference">
                            <option value="">--Select--</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                        </select>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Religion</label>
                        <select class="form-control" name="religion" formControlName="religion">
                            <option value="">--Select--</option>
                            <option value="hindu">Hindu</option>
                            <option value="muslim">Muslim</option>
                            <option value="christian">Christian</option> 
                            <option value="sikh">Sikh</option> 
                            <option value="buddhist">Buddhist</option> 
                            <option value="jain">Jain</option> 
                            <option value="other religion">Other Religion</option>          
                        </select>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Caste</label>
                        <select class="form-control" name="caste" formControlName="caste">
                            <option value="">--Select--</option>
                            <option value="general">General</option>
                            <option value="sc">SC</option>
                            <option value="st">ST</option>
                            <option value="obc">OBC</option>
                        </select>
                    </div>

                    <div class="col-sm-3 form-group">
                        <label>Nationality</label>
                        <select class="form-control" name="nationality" formControlName="nationality">
                            <option value="">--Select--</option>
                            <option value="indian">Indian</option>
                        </select>
                    </div>

                    <div class="col-sm-3 form-group">
                        <label>Profile Picture</label>
                        <input type="file" class="form-control" name="studentProfPicEncoded" formControlName="studentProfPicEncoded"/>
                    </div>

                    <!-- <div class="col-sm-3 form-group">
                        <label>Select Academic *</label>
                        <select class="form-control" name="">
                            <option value="">--Select--</option>
                            <option value="">Option 1</option>
                            <option value="">Option 2</option>
                        </select>
                    </div>                     -->
                </div>

                <br/>

                <div class="row">
                    <div class="col-md-12 mb-3 mt-2">
                        <h5 class="h6 font-weight-bold">Parent Information</h5>
                    </div> 

                    <div class="col-sm-3 form-group">
                        <label>Father's First Name</label>
                        <input class="form-control" type="text" placeholder="Father's First Name" name="fatherFName" formControlName="fatherFName">
                    </div>

                    <div class="col-sm-3 form-group">
                        <label>Father's Middle Name</label>
                        <input class="form-control" type="text" placeholder="Father's Middle Name" name="fatherMName" formControlName="fatherMName">
                    </div>

                    <div class="col-sm-3 form-group">
                        <label>Father's Last Name</label>
                        <input class="form-control" type="text" placeholder="Father's Last Name" name="fatherLName" formControlName="fatherLName">
                    </div>

                    <div class="col-sm-3 form-group">
                        <label>Mother's First Name</label>
                        <input class="form-control" type="text" placeholder="Mother's First Name" name="motherFName" formControlName="motherFName">
                    </div>

                    <div class="col-sm-3 form-group">
                        <label>Mother's Middle Name</label>
                        <input class="form-control" type="text" placeholder="Mother's Middle Name" name="motherMName" formControlName="motherMName">
                    </div>

                    <div class="col-sm-3 form-group">
                        <label>Mother's Last Name</label>
                        <input class="form-control" type="text" placeholder="Mother's Last Name" name="motherLName" formControlName="motherLName">
                    </div>

                    <div class="col-sm-3 form-group">
                        <label>Guardian's First Name</label>
                        <input class="form-control" type="text" placeholder="Guardian's First Name" name="guardianFName" formControlName="guardianFName">
                    </div>

                    <div class="col-sm-3 form-group">
                        <label>Guardian's Middle Name</label>
                        <input class="form-control" type="text" placeholder="Guardian's Middle Name" name="guardianMName" formControlName="guardianMName">
                    </div>

                    <div class="col-sm-3 form-group">
                        <label>Guardian's Last Name</label>
                        <input class="form-control" type="text" placeholder="Guardian's Last Name" name="guardianLName" formControlName="guardianLName">
                    </div>

                    <div class="col-sm-3 form-group">
                        <label>Father's Mobile Number</label>
                        <input class="form-control" type="number" placeholder="Father's Mobile" name="fatherMobileNo" formControlName="fatherMobileNo">
                    </div>

                    <div class="col-sm-3 form-group">
                        <label>Mother's Mobile Number</label>
                        <input class="form-control" type="number" placeholder="Mother's Mobile" name="motherMobileNo" formControlName="motherMobileNo">
                    </div>

                    <div class="col-sm-3 form-group">
                        <label>Guardian's Mobile Number</label>
                        <input class="form-control" type="number" placeholder="Guardian's Mobile" name="guardianMobileNo" formControlName="guardianMobileNo">
                    </div>

                    <div class="col-sm-3 form-group">
                        <label>Father's Email Id</label>
                        <input class="form-control" type="email" placeholder="Father's Email" name="fatherEmailID" formControlName="fatherEmailID">
                    </div>

                    <div class="col-sm-3 form-group">
                        <label>Mother's Email Id</label>
                        <input class="form-control" type="email" placeholder="Mother's Email" name="motherEmailID" formControlName="motherEmailID">
                    </div>

                    <div class="col-sm-3 form-group">
                        <label>Guardian's Email Id</label>
                        <input class="form-control" type="email" placeholder="Guardian's Email" name="guardianEmailID" formControlName="guardianEmailID">
                    </div>
                </div>

                <br/>

                <div class="row">
                    <div class="col-md-12 mb-3 mt-2">
                        <h5 class="h6 font-weight-bold">Admission Information</h5>
                    </div> 

                    <div class="col-sm-3 form-group">
                        <label>Medium of Instruction</label>
                        <select class="form-control" name="mediumOfInstruction" formControlName="mediumOfInstruction">
                            <option value="">--Select--</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                        </select>
                    </div>

                    <div class="col-sm-3 form-group">
                        <label>Admission Number *</label>
                        <input class="form-control" type="text" placeholder="Admission Number" name="admissionNo" formControlName="admissionNo">
                    </div>

                    <div class="col-sm-3 form-group">
                        <label>Admission Date</label>
                        <input class="form-control" type="date" placeholder="Admission Date" name="admissionDate" formControlName="admissionDate">
                    </div>

                    <div class="col-sm-3 form-group">
                        <label>Stream / Group *</label>
                        <select class="form-control" name="streamID" formControlName="streamID">
                            <option value="">--Select--</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                        </select>
                    </div>

                    <div class="col-sm-3 form-group">
                        <label>Class *</label>
                        <select class="form-control" name="classID" formControlName="classID">
                            <option value="">--Select--</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                        </select>
                    </div>

                    <div class="col-sm-3 form-group">
                        <label>Section *</label>
                        <select class="form-control" name="sectionID" formControlName="sectionID">
                            <option value="">--Select--</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                        </select>
                    </div>

                    <div class="col-sm-3 form-group">
                        <label>Fee Quota</label>
                        <select class="form-control" name="feeQuota" formControlName="feeQuota">
                            <option value="">--Select--</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                        </select>
                    </div>

                    <div class="col-sm-3 form-group">
                        <label>Bus Route *</label>
                        <select class="form-control" name="routeID" formControlName="routeID">
                            <option value="">--Select--</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                        </select>
                    </div>
                </div>


                <div class="row">
                  <div class="col-md-12 mt-4">
                      <div class="form-group">
                          <button class="btn btn-success" type="submit">Register</button>
                          <button class="btn btn-primary">Reset</button>
                      </div>
                  </div>                    
                </div>
                
            </form>

          </div>
        </div>

    </div>
  </div>
</div>    
