.example-full-width {
  width: 90%;
}

.refresh-icon {
  font-size: 9.2px;
}

.close-icon {
  font-size: 10.8px;
}

/* .student-info .form-control{padding: 1rem 0rem !important; font-size: 1rem; border-top: 0px; border-left: 0px; border-right: 0px; border-bottom: 2px solid #ced4da; }
.student-info .form-control:focus {color: #000000; background-color: #fff; border-color:var(--red-color); outline: 0; box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.25); }
.form-label-group > label{font-size: 1rem; padding: 0px !important; position: absolute; top:12px; }
.form-label-group{position: relative;}
.student-info .form-control:focus label{ font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;}
   */

.form-group-label {
  position: relative;
}

.form-group-label label {
  position: absolute;
  visibility: hidden;
}

.form-group-label .form-control {
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
}

.form-group-label .form-control:focus label {
  position: relative !important;
  font-size: 50% !important;
  opacity: 0.7 !important;
  top: -20px;
  transform: translate3d(0, -100%, 0);
  visibility: visible;
}

.mdl-textfield__label:after {
  bottom: 10px !important;
}

.mdl-textfield__label {
  color: rgba(0, 0, 0, 1) !important;
  font-size: 11px;
}








.image-preview-input {
  position: relative;
  overflow: hidden;
  margin: 0px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.image-preview-input input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.image-preview-filename{
  font-size: 11px;
}
