<div class="page-content fade-in-up">
  <div class="row">
    <div class="col-md-12">

      <div class="ibox">
        <div class="ibox-head">
          <div class="ibox-title">Add Student Form</div>
          <div class="ibox-tools">
            <a class="ibox-collapse">
              <i class="fa fa-refresh mr-1 text-success refresh-icon" aria-hidden="true"></i>
              <!-- <i class="fa fa-times text-danger close-icon" aria-hidden="true"></i> -->
              <i class="fa fa-angle-down arrow" aria-hidden="true"></i>
            </a>
          </div>
        </div>

        <div class="ibox-body">
          <form id="add-student-form" [formGroup]="addStudentForm" (ngSubmit)="onAddStudentSubmit()">
            <div class="row student-info">
              <div class="col-md-12 mb-4">
                <h6 class="h6 font-weight-bold sub-heading">Student Information</h6>
              </div>


              <div class="col-sm-3">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="First Name" type="text" name="firstName" formControlName="firstName">
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Middle Name" type="text" name="middleName" formControlName="middleName">
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Last Name" type="text" name="lastName" formControlName="lastName">
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Aadhar Number" type="number" name="aadharNo" formControlName="aadharNo">
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Contact Number" type="number" name="mobileNo" formControlName="mobileNo">
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field>
                  <input matInput [matDatepicker]="dateOfBirth" placeholder="Date of Birth" name="date_of_birth" formControlName="date_of_birth">
                  <mat-datepicker-toggle matSuffix [for]="dateOfBirth"></mat-datepicker-toggle>
                  <mat-datepicker #dateOfBirth></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field>
                    <mat-select placeholder="Blood Group" name="bloodGroup" formControlName="bloodGroup">
                      <mat-option value="b+">B+</mat-option>
                      <mat-option value="o+">O+</mat-option>
                    </mat-select>
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                <mat-form-field>
                    <mat-select placeholder="Gender" name="gender" formControlName="gender">
                      <mat-option value="male">Male</mat-option>
                      <mat-option value="female">Female</mat-option>
                    </mat-select>
                </mat-form-field>
              </div>

              <div class="col-sm-3">
                  <mat-form-field>
                      <mat-select placeholder="Contact Preference" name="preference" formControlName="preference">
                        <mat-option value="father">Father</mat-option>
                        <mat-option value="mother">Mother</mat-option>
                        <mat-option value="guardian">Guardian</mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>

              <div class="col-sm-3">
                  <mat-form-field>
                      <mat-select placeholder="Religion" name="religion" formControlName="religion">
                        <mat-option value="hindu">Hindu</mat-option>
                        <mat-option value="muslim">Muslim</mat-option>
                        <mat-option value="christian">Christian</mat-option>
                        <mat-option value="sikh">Sikh</mat-option>
                        <mat-option value="buddhist">Buddhist</mat-option>
                        <mat-option value="jain">Jain</mat-option>
                        <mat-option value="other religion">Other Religion</mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>

              <div class="col-sm-3">
                  <mat-form-field>
                      <mat-select placeholder="Caste" name="caste" formControlName="caste">
                        <mat-option value="general">General</mat-option>
                        <mat-option value="sc">SC</mat-option>
                        <mat-option value="st">ST</mat-option>
                        <mat-option value="obc">OBC</mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>

              <div class="col-sm-3">
                  <mat-form-field>
                      <mat-select placeholder="Indian" name="nationality" formControlName="nationality">
                        <mat-option value="indian">Indian</mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>

              <!-- <div class="col-sm-3">
                  <mat-form-field>
                      <mat-select placeholder="Indian" name="nationality" formControlName="nationality">
                        <mat-option value="indian">Indian</mat-option>
                      </mat-select>
                  </mat-form-field>
              </div> -->

              <div class="col-sm-12">
                  <div class="custom-file">
                      <input type="file" class="custom-file-input" name="studentProfPicEncoded" formControlName="studentProfPicEncoded"
                      (change)="onSelectFile($event)" accept="image/*">
                      <label class="custom-file-label" for="customFile">Choose Picture</label>
                  </div>
              </div>

              <div class="col-sm-3">
                <div>
                  <img [src]="url" class="img-thumbnail w-75" alt="profile-picture" />
                </div>
              </div>

              <!-- <div class="col-sm-3 form-group">
                        <label>Select Academic *</label>
                        <select class="form-control" name="">
                            <option value="">--Select--</option>
                            <option value="">Option 1</option>
                            <option value="">Option 2</option>
                        </select>
                    </div>                     -->
            </div>

            <br />

            <div class="row">
              <div class="col-md-12 mb-3 mt-2">
                <h5 class="h6 font-weight-bold sub-heading">Parent Information</h5>
              </div>

              <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Father's First Name" type="text" name="fatherFName" formControlName="fatherFName">            
                  </mat-form-field>
              </div>

              <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Father's Middle Name" type="text" name="fatherMName" formControlName="fatherMName">            
                  </mat-form-field>
              </div>

              <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Father's Last Name" type="text" name="fatherLName" formControlName="fatherLName">            
                  </mat-form-field>
              </div>

              <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Mother's First Name" type="text" name="motherFName" formControlName="motherFName">            
                  </mat-form-field>
              </div>

              <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Mother's Middle Name" type="text" name="motherMName" formControlName="motherMName">            
                  </mat-form-field>
              </div>

              <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Mother's Last Name" type="text" name="motherLName" formControlName="motherLName">            
                  </mat-form-field>
              </div>

              <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Guardian's First Name" type="text" name="guardianFName" formControlName="guardianFName">            
                  </mat-form-field>
              </div>

              <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Guardian's Middle Name" type="text" name="guardianMName" formControlName="guardianMName">            
                  </mat-form-field>
              </div>

              <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Guardian's Last Name" type="text" name="guardianLName" formControlName="guardianLName">            
                  </mat-form-field>
              </div>

              <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Father's Mobile Number" type="number" name="fatherMobileNo" formControlName="fatherMobileNo">            
                  </mat-form-field>
              </div>

              <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Mother's Mobile Number" type="number" name="motherMobileNo" formControlName="motherMobileNo">            
                  </mat-form-field>
              </div> 
              
              <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Guardian's Mobile Number" type="number" name="guardianMobileNo" formControlName="guardianMobileNo">            
                  </mat-form-field>
              </div>

              <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Father's Email Id" type="email" name="fatherEmailID" formControlName="fatherEmailID">            
                  </mat-form-field>
              </div>

              <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Mother's Email Id" type="email" name="motherEmailID" formControlName="motherEmailID">            
                  </mat-form-field>
              </div>

              <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Guardian's Email Id" type="email" name="guardianEmailID" formControlName="guardianEmailID">            
                  </mat-form-field>
              </div>
            </div>

            <br />

            <div class="row">
              <div class="col-md-12 mb-3 mt-2">
                <h5 class="h6 font-weight-bold sub-heading">Admission Information</h5>
              </div>

              <div class="col-sm-3">
                  <mat-form-field>
                      <mat-select placeholder="Medium of Instruction" name="mediumOfInstruction" formControlName="mediumOfInstruction">
                        <mat-option value="english">English</mat-option>
                        <mat-option value="hindi">Hindi</mat-option>
                        <mat-option value="bengali">Bengali</mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>

              <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Admission Number" type="text" name="admissionNo" formControlName="admissionNo">            
                  </mat-form-field>
              </div>


              <div class="col-sm-3">
                  <mat-form-field>
                    <input matInput [matDatepicker]="admissionDate" placeholder="Admission Date" name="admissionDate" formControlName="admissionDate">
                    <mat-datepicker-toggle matSuffix [for]="admissionDate"></mat-datepicker-toggle>
                    <mat-datepicker #admissionDate></mat-datepicker>
                  </mat-form-field>
              </div>


              <div class="col-sm-3">
                  <mat-form-field>
                      <mat-select placeholder="Stream/Group" name="streamID" formControlName="streamID">
                        <mat-option value="1">Science</mat-option>
                        <mat-option value="2">Arts</mat-option>
                        <mat-option value="3">Commerce</mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>

              <div class="col-sm-3">
                  <mat-form-field>
                      <mat-select placeholder="Class" name="classID" formControlName="classID">
                        <mat-option value="1">V</mat-option>
                        <mat-option value="2">VI</mat-option>
                        <mat-option value="3">VII</mat-option>
                        <mat-option value="4">VIII</mat-option>
                        <mat-option value="5">IX</mat-option>
                        <mat-option value="6">X</mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>

              <div class="col-sm-3">
                  <mat-form-field>
                      <mat-select placeholder="Section" name="sectionID" formControlName="sectionID">
                        <mat-option value="1">A</mat-option>
                        <mat-option value="2">B</mat-option>
                        <mat-option value="2">C</mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>

              <div class="col-sm-3">
                  <mat-form-field>
                      <mat-select placeholder="Fee Quota" name="feeQuota" formControlName="feeQuota">
                        <mat-option value="option 1">Option 1</mat-option>
                        <mat-option value="option 2">Option 2</mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>

              <div class="col-sm-3">
                  <mat-form-field>
                      <mat-select placeholder="Bus Route" name="routeID" formControlName="routeID">
                        <mat-option value="1">Route 1</mat-option>
                        <mat-option value="2">Route 2</mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
            </div>


            <div class="row">
              <div class="col-md-12 mt-4">
                <div class="form-group">
                  <button class="btn btn-success btn-lg" type="submit">Register</button>
                  <button class="btn btn-primary btn-lg" (click)="resetForm()">Reset</button>
                </div>
              </div>
            </div>

          </form>

        </div>
      </div>

    </div>
  </div>
</div>


<ng2-toasty [position]="position"></ng2-toasty>
