.refresh-icon {
  font-size: 9.2px;
}

.close-icon {
  font-size: 10.8px;
}


.styled-checkbox {
  position: absolute;
  opacity: 0;
}

.styled-checkbox+label {
  position: relative;
  cursor: pointer;
  padding: 0;
}

.styled-checkbox+label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 18px;
  height: 18px;
  background: #f1f1f1;
}

.styled-checkbox:hover+label:before {
  background: #126cd4;
}

.styled-checkbox:focus+label:before {
  /* box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12); */
}

.styled-checkbox:checked+label:before {
  background: #126cd4;
}

.styled-checkbox:disabled+label {
  color: #b8b8b8;
  cursor: auto;
}

.styled-checkbox:disabled+label:before {
  box-shadow: none;
  background: #ddd;
}

.styled-checkbox:checked+label:after {
  content: "";
  position: absolute;
  left: 4px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}


#searchRoll,
#searchSection {
  width: 120px;
  box-sizing: border-box;
  border-radius: 60px;
  padding-left: 9px;
  font-size: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
  border: 1px solid #d8d8d8;
  background-color: #f5f5f5;
}


.ibox .ibox-body {
  padding: 0 !important;
}

.ngx-datatable.material {
  box-shadow: none !important;
}

.ngx-datatable *,
.ngx-datatable ::before,
.ngx-datatable ::after {
  line-height: 14px;
}


.ngx-datatable .datatable-body .datatable-row-wrapper {
  border-bottom: 1px solid whitesmoke;
}

.ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
  font-size: 14px;
}

.ngx-datatable .datatable-header .datatable-header-cell .datatable-header-cell-template-wrap {
  line-height: 21px;
}

.ngx-datatable.material .datatable-footer .datatable-pager .datatable-icon-left,
.ngx-datatable.material .datatable-footer .datatable-pager .datatable-icon-skip,
.ngx-datatable.material .datatable-footer .datatable-pager .datatable-icon-right,
.ngx-datatable.material .datatable-footer .datatable-pager .datatable-icon-prev {
  line-height: 28px;
}

.ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell {
  font-size: 13px;
}
