<div class="page-content fade-in-up">
    <div class="row">
      <div class="col-md-12">

          <div class="ibox">        
              <div class="ibox-head">
                <div class="ibox-title">All Students</div>
                <div class="ibox-tools">
                  <a class="ibox-collapse">
                    <i class="fa fa-refresh mr-1 text-success refresh-icon" aria-hidden="true"></i>
                    <i class="fa fa-times text-danger close-icon" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
    
            <div class="ibox-body" style="font-size: 11px;">

                <ngx-datatable class="data-table dt-chk fullscreen" [columnMode]="'force'" [scrollbarH]="false" [headerHeight]="50"
                [footerHeight]="0" [rowHeight]="40" [scrollbarV]="true" [rows]="rows" class="material">
        
        
                <ngx-datatable-column [width]="20" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
        
                  <ng-template class="datatable-checkbox" ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
                    let-selectFn="selectFn">
                    <div class="checkbox-fade fade-in-default datatable-header-cell-label">
                      <!-- <label>
                        <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"/>
                        <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                      </label> -->
                      <div class="pretty p-default">
                          <input type="checkbox" />
                          <div class="state p-primary">
                              <label></label>
                          </div>
                      </div>
                    </div>
                  </ng-template>
        
                  <ng-template class="datatable-checkbox" ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
                    let-onCheckboxChangeFn="onCheckboxChangeFn">
                    <div class="checkbox-fade fade-in-default datatable-header-cell-label">
                      <!-- <label>
                        <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
                        <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                      </label> -->
                      <div class="pretty p-default">
                          <input type="checkbox" />
                          <div class="state p-primary">
                              <label></label>
                          </div>
                      </div>
                    </div>
                  </ng-template>        
                </ngx-datatable-column>
        
        
                <ngx-datatable-column name="Roll" [width]="60"></ngx-datatable-column>

                <ngx-datatable-column name="Photo" [width]="75">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <!-- <div class="border-checkbox-group border-checkbox-group-default">
                        <input class="border-checkbox" type="checkbox" id="checkbox0">
                        <label _ngcontent-c5="" class="border-checkbox-label" for="checkbox1"></label>
                      </div> -->
                      <img width="25px" src="./assets/img/admin-avatar.png"/>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Name" [width]="60"></ngx-datatable-column>

                <ngx-datatable-column name="Gender" [width]="60">
                  <!-- <ng-template let-row="row" ngx-datatable-cell-template>
                    <div class="border-checkbox-group border-checkbox-group-default">
                      <input class="border-checkbox" type="checkbox" id="checkbox0">
                      <label _ngcontent-c5="" class="border-checkbox-label" for="checkbox1"></label>
                    </div>
                  </ng-template> -->
                </ngx-datatable-column>

                <ngx-datatable-column name="Parents Name" [width]="110">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        Justin Mary
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Class" [width]="50"></ngx-datatable-column>

                <ngx-datatable-column name="Section" [width]="50"></ngx-datatable-column>

                <ngx-datatable-column name="Address" [canAutoResize]="true">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        NL-59, South Park
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Date of Birth" [canAutoResize]="true">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      22/10/1995
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Mobile No" [canAutoResize]="true">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                       +89 22956325
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Email" [canAutoResize]="true"></ngx-datatable-column>

                <ngx-datatable-column name="Action" [canAutoResize]="true">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <i class="fa fa-eye text-primary" aria-hidden="true" [routerLink]="['/students/viewDetail']"></i>
                        <i class="fa fa-pencil-square-o text-success ml-1" aria-hidden="true"></i>
                        <i class="fa fa-trash-o text-danger ml-1" aria-hidden="true"></i> 
                    </ng-template>
                </ngx-datatable-column>
                
              </ngx-datatable>


            </div>
          </div> 

      </div>
    </div>
</div>    
    
